@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-drawer';

$modes: ('regular', 'soft');
$sizes: ('s', 'm', 'l');
$drawer-background-color: (
  'regular': styles-tokens-drawer.$sys-neutral-background1-level,
  'soft': styles-tokens-drawer.$sys-neutral-background2-level,
);

.drawerRoot {
  z-index: initial !important; /* stylelint-disable-line declaration-no-important */
}

div[data-content-wrapper='true'] {
  will-change: transform;

  z-index: initial;

  overflow: unset;

  max-width: calc(100% - styles-tokens-drawer.$space-drawer-outside-gap);
  height: 100%;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-drawer.composite-var(styles-tokens-drawer.$drawer, 'window', $size);
    }
  }

  @each $mode in $modes {
    &[data-mode='#{$mode}'] {
      .drawer {
        background-color: styles-tokens-drawer.simple-var($drawer-background-color, $mode);
      }
    }
  }
}

.drawer {
  overflow: unset !important; /* stylelint-disable-line declaration-no-important */
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  box-shadow: styles-tokens-drawer.simple-var(styles-tokens-drawer.$box-shadow-elevation-level5);
}

.headerElements {
  @include styles-tokens-drawer.composite-var(styles-tokens-drawer.$drawer-header-elements-container);
  @include styles-tokens-drawer.composite-var(styles-tokens-drawer.$drawer-header-elements-elements-layout);

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
}

.mask {
  z-index: initial !important; /* stylelint-disable-line declaration-no-important */
  background-color: styles-tokens-drawer.simple-var(styles-tokens-drawer.$sys-blackout);
}
