@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-drawer';

.footer {
  @include composite-var($drawer-footer);

  display: flex;
  flex-direction: column;
}

.footerActions {
  @include composite-var($drawer-action-row);

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
}
