@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-toggles';
@use '../styles.module';

$switchAnimationDuration: 0.1s;

.container {
  @include styles.container('switch');
}

.box {
  position: relative;
  background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'decor-activated');

  @each $size in styles.$sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-toggles.composite-var(styles-tokens-toggles.$toggles, $size, 'switch', 'box');
    }
  }

  &[data-hover='true'] {
    background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'accent-hovered');
  }

  &[data-disabled='true'] {
    background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'decor-default');
  }

  &[data-checked='true'] {
    background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'primary', 'accent-default');

    &[data-hover='true'] {
      background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'primary', 'accent-hovered');
    }

    &[data-disabled='true'] {
      background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'decor-default');
    }
  }
}

.containerFlag {
  position: absolute;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-timing-function: linear;
  transition-duration: $switchAnimationDuration;
  transition-property: left;

  @each $size in styles.$sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-toggles.composite-var(styles-tokens-toggles.$toggles, $size, 'switch', 'container-flag');
      &[data-checked='true'] {
        left: calc(100% - #{styles-tokens-toggles.simple-var(styles-tokens-toggles.$toggles, $size, 'switch', 'container-flag', 'width')});
      }
    }
  }
}

.flag {
  background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'background2-level');

  @each $size in styles.$sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-toggles.composite-var(styles-tokens-toggles.$toggles, $size, 'switch', 'flag');
    }
  }

  &[data-focusvisible=true],
  &[data-hover=true] {
    background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'on-accent');
  }

  &[data-disabled='true'] {
    background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'background2-level');
  }
}

@mixin flagIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;

  color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'text-disabled');

  fill: transparent;

  transition: opacity $switchAnimationDuration linear;

  &[data-hover='true'] {
    color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'accent-hovered');
  }

  &[data-checked='true'] {
    color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'primary', 'accent-default');

    &[data-hover='true'] {
      color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'primary', 'accent-hovered');
    }
  }

  &[data-disabled='true'] {
    color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'text-disabled');

    &[data-hover='true'] {
      color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'text-disabled');
    }
  }
}

.flag_icon_off {
  @include flagIcon();

  opacity: 1;
  &[data-checked='true'] {
    opacity: 0;
  }
}

.flag_icon_on {
  @include flagIcon();

  opacity: 0;
  &[data-checked='true'] {
    opacity: 1;
  }
}
