@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-card';
@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';

$sizes:  'm', 'l';

.functionBadgeWrapper {
  position: absolute;
  top: 0;
  right: 0;

  display: none;

  &[data-visible] {
    display: block;
  }
}

.composition {
  @include composite-var($card-composition-container);

  box-sizing: border-box;
}

.card {
  @include composite-var($card-container);

  position: relative;

  overflow: hidden;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-align: left;

  background-color: $sys-neutral-background1-level;
  border: 0;
  outline-color: transparent;

  &:hover {
    .functionBadgeWrapper {
      display: block;
    }
  }

  &:focus-visible {
    @include outline-var($container-focused-l);

    background-color: $sys-neutral-background2-level;
    outline-color: $sys-primary-accent-default;

    .functionBadgeWrapper {
      display: block;
    }

    .check {
      background-color: $sys-primary-accent-default;
    }
  }

  &:focus-within {
    .functionBadgeWrapper {
      display: block;
    }
  }

  &[data-outline] {
    @include outline-var($container-focused-s);
    outline-width: $border-width-card-container;
    outline-color: $sys-neutral-decor-default;
  }

  &[data-pointer] {
    * {
      cursor: pointer;
    }

    &[data-outline] {
      &:hover {
        box-shadow: none;
        outline-color: $sys-neutral-decor-hovered;
      }

      &:focus-visible {
        @include outline-var($container-focused-l);
        outline-color: $sys-primary-accent-default;
      }
    }

    &[data-checked] {
      @include outline-var($container-focused-s);
      outline-width: $border-width-card-container;
      outline-color: $sys-primary-decor-activated;

      &:hover {
        box-shadow: none;
        outline-color: $sys-primary-decor-hovered;
      }

      .contentWrapper {
        position: relative;

        &::before {
          content: '';

          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          background-color: $sys-primary-accent-default;
          opacity: $opacity-a008;
        }
      }

      .check {
        color: $sys-primary-on-accent;
        background-color: $sys-primary-accent-default;
      }
    }

    &[data-checked]:focus-visible {
      @include outline-var($container-focused-l);
      outline-color: $sys-primary-accent-default;

      .check {
        color: $sys-primary-on-accent;
        background-color: $sys-primary-accent-default;
      }
    }

    &:hover {
      box-shadow: simple-var($theme-variables, 'box-shadow', 'elevation', 'level2');
      background-color: $sys-neutral-background2-level;
    }
  }

  &[data-disabled] {
    @include outline-var($container-focused-s);
    outline-width: $border-width-card-container;
    outline-color: $sys-neutral-decor-default;

    background-color: $sys-neutral-background;
  }
}


.body {
  display: block;
  color: $sys-neutral-text-support;
  text-align: initial;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  position: relative;

  box-sizing: border-box;
  max-width: 100%;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include composite-var($card, 'content', $size, 'container');
    }
  }
}

.footer {
  @include composite-var($card-footer);

  position: relative;

  box-sizing: border-box;
}

