@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-tooltip';

.tooltipContainer {
  @include styles-tokens-tooltip.composite-var(styles-tokens-tooltip.$tooltip-container);
  @include styles-tokens-tooltip.composite-var(styles-tokens-tooltip.$sans-body-s);

  overflow: hidden;

  box-sizing: border-box;

  color: styles-tokens-tooltip.$sys-invert-neutral-text-main;
  word-wrap: break-word;

  background-color: styles-tokens-tooltip.$sys-invert-neutral-background;

  &[data-disable-max-width='true'] {
    max-width: calc(100vw - styles-tokens-tooltip.$dimension-2m);
  }
}

.tooltipArrowContainer {
  @include styles-tokens-tooltip.composite-var(styles-tokens-tooltip.$tooltip-tooltip-pointer);

  position: absolute;

  display: flex;

  padding-top: 0;
  padding-bottom: 0;

  color: styles-tokens-tooltip.$sys-invert-neutral-background;
}

.tooltipArrowElement {
  @include styles-tokens-tooltip.composite-var(styles-tokens-tooltip.$tooltip-pointer-arrow);

  fill: currentColor;
}
