@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-card';

.action {
  @include styles-tokens-card.composite-var(styles-tokens-card.$card-action);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}