@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-table';
@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';

.tableRow {
  @include composite-var($table-line-container);

  position: relative;

  display: flex;

  box-sizing: border-box;

  background-color: $sys-neutral-background1-level;
  border-color: transparent;
  border-style: solid none;
}

.rowPinnedCells {
  position: sticky;
  z-index: 1;

  display: flex;

  box-sizing: border-box;

  background-color: inherit;
  border-color: $sys-neutral-decor-default;

  &::after {
    pointer-events: none;
    content: '';

    position: absolute;
    top: calc(0px - $border-width-table);
    bottom: calc(0px - $border-width-table);

    box-sizing: border-box;
    width: $border-width-table;
  }

  &[data-position='left'] {
    left: 0;

    &::after {
      right: 0;

      /* stylelint-disable */
      border-right: $border-width-table solid;
      border-color: inherit;
      /* stylelint-enable */
    }
  }

  &[data-position='right'] {
    right: 0;

    &::after {
      left: 0;

      /* stylelint-disable */
      border-left: $border-width-table solid;
      border-color: inherit;
      /* stylelint-enable */
    }
  }
}

.bodyRow {
  &[data-disabled] {
    cursor: not-allowed;
    background-color: $sys-neutral-background;
  }

  &[data-selected] {
    background-color: $sys-primary-background;

    .rowPinnedCells {
      border-color: $sys-primary-decor-default;
    }

    &:hover, &[data-actions-opened] {
      background-color: $sys-primary-background1-level;
      border-color: $sys-primary-decor-hovered;

      .rowPinnedCells {
        border-color: inherit;
      }
    }
  }

  &[data-clickable] {
    cursor: pointer;
  }

  &:not([data-disabled]):not([data-selected]) {
    &:hover, &[data-actions-opened] {
      background-color: $sys-neutral-background2-level;
      border-color: $sys-neutral-decor-hovered;

      .rowPinnedCells {
        border-color: inherit;
      }
    }
  }

  
}

.tableHeader {
  position: sticky;
  z-index: 3;
  top: 0;
  border: none;
}
