@import '@sbercloud/figma-tokens/build/scss/styles-theme-variables';

.table {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  flex-direction: column;
  gap: 16px;

  width: max-content;
}

.description {
  max-width: 525px;
  margin-bottom: 16px;
  color: $sys-neutral-text-support;
}
