@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-loader';

$sizes: 's', 'xs';

@mixin progress-anatomy-styles {
  @each $size in $sizes {
    &[data-size="#{$size}"] {
      @include composite-var($progress-bar, 'container', $size);
    }
  }
}

.progressBarContainer {
  background-color: var($sys-neutral-decor-default);

  @include progress-anatomy-styles
}

.progressBarFiller {
  width: var(--progress);
  height: 100%;
  background-color: var($sys-primary-accent-default);
  border-radius: inherit;
}
