@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-loader';

$sizes: 's', 'xs';

@mixin progress-anatomy-styles {
  @each $size in $sizes {
    &[data-size="#{$size}"] {
      @include styles-tokens-loader.composite-var(styles-tokens-loader.$progress-bar, 'container', $size);
    }
  }
}

.progressBarContainer {
  @include progress-anatomy-styles;

  background-color: styles-tokens-loader.$sys-neutral-decor-default;
}

.progressBarFiller {
  width: var(--progress);
  height: 100%;
  background-color: styles-tokens-loader.$sys-primary-accent-default;
  border-radius: inherit;
}
