@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-iconPredefined';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

$appearances: 'primary', 'neutral', 'red', 'orange', 'yellow', 'green', 'blue', 'violet', 'pink';

$sizes: (
  's': styles-tokens-iconPredefined.simple-var(styles-tokens-element.$icon-s),
  'm': styles-tokens-iconPredefined.simple-var(styles-tokens-element.$icon-s),
  'l': styles-tokens-iconPredefined.simple-var(styles-tokens-element.$icon-scale-x2),
);

.decor {
  overflow: hidden;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  &[data-decor] {
    @each $appearance in $appearances {
      &[data-appearance='#{$appearance}'] {
        color: styles-tokens-iconPredefined.simple-var(styles-tokens-iconPredefined.$theme-variables, 'sys', $appearance, 'accent-default');
        background-color: styles-tokens-iconPredefined.simple-var(styles-tokens-iconPredefined.$theme-variables, 'sys', $appearance, 'decor-default');
      }
    }
  }

  @each $size, $sideLength in $sizes {
    &[data-size='#{$size}'] {
      &[data-shape='round'] {
        @include styles-tokens-iconPredefined.composite-var(styles-tokens-iconPredefined.$icon-predefined, 'decor-round', $size);
      }

      &[data-shape='square'] {
        @include styles-tokens-iconPredefined.composite-var(styles-tokens-iconPredefined.$icon-predefined, 'decor-square', $size);
      }
    }
  }
}

.icon {
  &,
  svg {
    fill: currentColor;
  }

  @each $appearance in $appearances {
    &[data-appearance='#{$appearance}'] {
      color: styles-tokens-iconPredefined.simple-var(styles-tokens-iconPredefined.$theme-variables, 'sys', $appearance, 'accent-default');
    }

    @each $size, $sideLength in $sizes {
      &[data-size='#{$size}'] {
        width: $sideLength !important; /* stylelint-disable-line declaration-no-important */
        height: $sideLength !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }

  // для желтого исключение
  &[data-appearance='yellow'] {
    color: styles-tokens-iconPredefined.$sys-yellow-text-light;
  }
}
