@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-button-buttonFunction';
@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';
@import '../../styles.module';

$appearances: 'primary', 'neutral', 'red';
$sizes: 'xs', 's', 'm',;
$variants: 'label-only', 'icon-only', 'icon-after', 'icon-before';
$icon-sizes: (
  'xs': $icon-s,
  's': $icon-s,
  'm': $icon-s,
);
$typography: (
  'xs': $sans-label-s,
  's': $sans-label-m,
  'm': $sans-label-l
);

@mixin button-colors-styles {
  @include label-color($sys-neutral-text-light);
  @include icon-fill($sys-neutral-text-light);
  
  @each $appearance in $appearances {
    &[data-appearance='#{$appearance}'] {
      &:hover {
        @include label-color(simple-var($theme-variables, 'sys', $appearance, 'accent-hovered'));
        @include icon-fill(simple-var($theme-variables, 'sys', $appearance, 'accent-hovered'));
      }

      &:focus-visible {
        @include label-color(simple-var($theme-variables, 'sys', $appearance, 'accent-hovered'));
        @include icon-fill(simple-var($theme-variables, 'sys', $appearance, 'accent-hovered'));
      }

      &:active {
        @include label-color(simple-var($theme-variables, 'sys', $appearance, 'accent-pressed'));
        @include icon-fill(simple-var($theme-variables, 'sys', $appearance, 'accent-pressed'));
      }

      &:disabled,
      &[data-disabled] {
        @include label-color(simple-var($theme-variables, 'sys', 'neutral', 'text-disabled'));
        @include icon-fill(simple-var($theme-variables, 'sys', 'neutral', 'text-disabled'));
      }

      &[data-loading] {
        @include label-color(simple-var($theme-variables, 'sys', $appearance, 'accent-pressed'));
        @include icon-fill(simple-var($theme-variables, 'sys', $appearance, 'accent-pressed'));
      }
    }
  }
}

@mixin button-outline-colors-styles {
  @each $appearance in $appearances {
    &[data-appearance='#{$appearance}'] {
      &:focus-visible {
        outline-color: $sys-available-complementary;
      }
    }
  }
}

.button {
  @include button-anatomy-styles($button-function, $sizes, $variants, $typography, $icon-sizes);
  @include loading-label-only($button-function);
  @include button-colors-styles;
  @include button-outline-colors-styles;
  @include button-common-state;

  &:focus-visible {
    outline-offset: 0;
  }
}
