@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-timeline';

$appearances: 'primary', 'red', 'orange', 'yellow', 'green', 'blue', 'violet', 'pink';

.trackDot {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  &[data-variant='default'] {
    @include styles-tokens-timeline.composite-var(styles-tokens-timeline.$timeline-track-dot-event);

    border-color: styles-tokens-timeline.$sys-neutral-decor-default;
    border-style: solid;

    @each $appearance in $appearances {
      &[data-appearance='#{$appearance}'] {
        border-color: styles-tokens-timeline.simple-var(styles-tokens-timeline.$theme-variables, 'sys', $appearance, 'accent-default');
      }
    }
  }

  &[data-variant='subEvent'] {
    @include styles-tokens-timeline.composite-var(styles-tokens-timeline.$timeline-track-dot-sub-event);

    background-color: styles-tokens-timeline.$sys-neutral-decor-default;

    @each $appearance in $appearances {
      &[data-appearance='#{$appearance}'] {
        background-color: styles-tokens-timeline.simple-var(styles-tokens-timeline.$theme-variables, 'sys', $appearance, 'accent-default');
      }
    }
  }
}

.trackDotContainer {
  @include styles-tokens-timeline.composite-var(styles-tokens-timeline.$timeline-track-dot-container);

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

