@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-modal';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.buttonClose {
  @include styles-tokens-modal.composite-var(styles-tokens-modal.$modal-button-close);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: styles-tokens-modal.simple-var(styles-tokens-modal.$sys-neutral-text-support);

  background-color: styles-tokens-modal.simple-var(styles-tokens-modal.$sys-neutral-decor-default);
  border: 0 solid transparent;
  outline: 0;
  outline-offset: styles-tokens-modal.$spacing-state-focus-offset;

  &:hover, &:focus-visible {
    color: styles-tokens-modal.simple-var(styles-tokens-modal.$sys-neutral-text-main);
    background-color: styles-tokens-modal.simple-var(styles-tokens-modal.$sys-neutral-decor-hovered);
  }

  &:focus-visible {
    @include styles-tokens-modal.outline-var(styles-tokens-element.$container-focused-s);

    outline-color: styles-tokens-modal.$sys-available-complementary;
  }

  &:active {
    color: styles-tokens-modal.simple-var(styles-tokens-modal.$sys-neutral-text-main);
    background-color: styles-tokens-modal.simple-var(styles-tokens-modal.$sys-neutral-decor-activated);
  }

  svg {
    width: styles-tokens-element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
    height: styles-tokens-element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
  }
}
