@use "@snack-uikit/figma-tokens/build/scss/styles-theme-variables";

.themeWrapper {
  padding: 16px;
  background-color: styles-theme-variables.$sys-neutral-background;
  border: styles-theme-variables.$border-width-018m solid styles-theme-variables.$sys-neutral-decor-default;
}

.buttonWrapper {
  display: flex;
  gap: 16px;
  padding: 16px;
}