@import "@sbercloud/figma-tokens/build/scss/styles-theme-variables";

.themeWrapper {
  padding: 16px;
  background-color: $sys-neutral-background;
  border: $border-width-018m solid $sys-neutral-decor-default;
}

.buttonWrapper {
  display: flex;
  gap: 16px;
  padding: 16px;
}