@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.textarea {
  resize: none;

  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;

  color: styles-tokens-element.simple-var(styles-tokens-element.$sys-neutral-text-main);

  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: 0;

  &::placeholder {
    color: styles-tokens-element.simple-var(styles-tokens-element.$sys-neutral-text-disabled);
  }

  &::-webkit-scrollbar {
    width: 0;
    max-width: 0;
  }

  &:read-only {
    color: styles-tokens-element.simple-var(styles-tokens-element.$sys-neutral-text-support);
  }

  &[disabled] {
    color: styles-tokens-element.simple-var(styles-tokens-element.$sys-neutral-text-disabled);
  }
}
