@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-alert-alertTop';
@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';

$colors: 'invert-neutral', 'primary', 'red', 'yellow', 'green';

.alertTopButton {
    @include composite-var($alert-top-button-button-action);
    @include composite-var($sans-label-l);

    cursor: pointer;

    display: flex;
    align-items: center;

    box-sizing: border-box;
    margin: 0;
    margin-left: auto;
    padding: 0;

    white-space: nowrap;

    opacity: var($opacity-a080);
    background: none;
    border: 0;
    
    &:hover {
        opacity: unset;
        background-color: var($sys-opacity-hovered);
    }
    &:focus-visible {
        @include outline-var($container-focused-s);

        opacity: unset;
        background-color: var($sys-opacity-hovered);
        outline-color: var($sys-available-on-complementary);
    }
    &:active {
        opacity: var($opacity-a080);
        background-color: var($sys-opacity-activated);
    }

    @each $color in $colors {
        &[data-color='#{$color}'] {
            @if $color == 'invert-neutral'{
                color: simple-var($theme-variables, 'sys', $color, 'text-main');
            }

            @else {
                color: simple-var($theme-variables, 'sys', $color, 'on-accent');
                
            }
        }
    }
}