@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-table';

.footer {
  @include composite-var($table-footer);

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pagination {
  flex: 1;
}
