@import "../../../../../node_modules/@sbercloud/figma-tokens/build/scss/components/styles-tokens-element";
@import "../../styles.module";

$sizes: 's', 'm';
$icon-sizes: (
  's': $icon-xs,
  'm': $icon-s
);

.buttonClearValue {
  @include button-styles();

  &:hover {
    color: var($sys-red-text-support);
  }

  &:focus-visible {
    color: var($sys-red-text-support);
    outline-color: var($sys-red-accent-default);
  }

  &:active {
    color: var($sys-red-text-main);
  }
}