@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-search';

.wrap {
  display: flex;
  flex-grow: 1;
  width: 100%;
  min-width: 0;
}

.triggerClassName {
  --offset: #{styles-tokens-search.$space-drop-list-drop-offset};

  display: flex;
  flex-grow: 1;
}
