@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-search';

.triggerClassName {
  --offset: #{$space-drop-list-drop-offset};

  display: flex;
  flex-grow: 1;
}

.wrap {
  display: flex;
  flex-grow: 1;
  width: 100%;
  min-width: 0;
}

