@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-chips-chipToggle';
@use '../../styles.module';

$sizes: 'xs', 's', 'm', 'l';

$typography: (
  'xs': styles-tokens-chips-chipToggle.$sans-label-s,
  's': styles-tokens-chips-chipToggle.$sans-label-m,
  'm': styles-tokens-chips-chipToggle.$sans-label-l,
  'l': styles-tokens-chips-chipToggle.$sans-label-l,
);

.toggleChipContent {
  @include styles.chip-defaults;

  justify-content: center;
  color: styles-tokens-chips-chipToggle.$sys-neutral-text-support;
  background-color: styles-tokens-chips-chipToggle.$sys-neutral-background1-level;
  border-color: styles-tokens-chips-chipToggle.$sys-neutral-decor-default;
}

.toggleChipInput {
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 0;

  opacity: 0;

  &:focus-visible + .toggleChipContent {
    @include styles.chip-outline;

    color: styles-tokens-chips-chipToggle.$sys-neutral-text-main;
    background-color: styles-tokens-chips-chipToggle.$sys-neutral-background2-level;
    border-color: styles-tokens-chips-chipToggle.$sys-neutral-decor-hovered;
  }
}

.toggleChip {
  @include styles.chip-anatomy-styles(styles-tokens-chips-chipToggle.$chip-toggle, $sizes, $typography, toggleChipContent);

  position: relative;

  min-width: 0;
  margin: 0;
  padding: 0;

  border: none;
  outline: 0;
  outline-offset: 0;

  .icon {
    color: styles-tokens-chips-chipToggle.$sys-neutral-text-support;
  }

  &:hover {
   .toggleChipContent {
      color: styles-tokens-chips-chipToggle.$sys-neutral-text-main;
      background-color: styles-tokens-chips-chipToggle.$sys-neutral-background2-level;
      border-color: styles-tokens-chips-chipToggle.$sys-neutral-decor-hovered;
    }
  }

  &:active {
    .toggleChipContent {
      color: styles-tokens-chips-chipToggle.$sys-neutral-text-main;
      background-color: styles-tokens-chips-chipToggle.$sys-neutral-background;
      border-color: styles-tokens-chips-chipToggle.$sys-neutral-decor-activated;
    }
  }

  &[data-loading] {
    @include styles.chip-loading-state(styles-tokens-chips-chipToggle.$chip-toggle, '&[data-variant="label-only"]', label, toggleChipContent);

    .toggleChipContent {
      color: styles-tokens-chips-chipToggle.$sys-neutral-text-main;
      background-color: styles-tokens-chips-chipToggle.$sys-neutral-background;
      border-color: styles-tokens-chips-chipToggle.$sys-neutral-decor-activated;
    }
  }

  &[data-disabled] {
    .toggleChipContent {
      cursor: not-allowed;
      color: styles-tokens-chips-chipToggle.$sys-neutral-text-light;
      background-color: styles-tokens-chips-chipToggle.$sys-neutral-background;
      border-color: styles-tokens-chips-chipToggle.$sys-neutral-decor-disabled;
    }

    .icon {
      color: styles-tokens-chips-chipToggle.$sys-neutral-text-light;
    }
  }

  &[data-checked] {
    .icon {
      color: styles-tokens-chips-chipToggle.$sys-primary-text-support;
    }

    .toggleChipContent {
      color: styles-tokens-chips-chipToggle.$sys-primary-text-support;
      background-color: styles-tokens-chips-chipToggle.$sys-primary-decor-default;
      border-color: transparent;
    }

    &:hover {
      .toggleChipContent {
        color: styles-tokens-chips-chipToggle.$sys-primary-text-main;
        background-color: styles-tokens-chips-chipToggle.$sys-primary-decor-hovered;
        border-color: transparent;
      }
    }

    &:active {
      .toggleChipContent {
        color: styles-tokens-chips-chipToggle.$sys-primary-text-main;
        background-color: styles-tokens-chips-chipToggle.$sys-primary-decor-activated;
        border-color: transparent;
      }
    }

    .toggleChipInput {
      &:focus-visible + .toggleChipContent {
        color: styles-tokens-chips-chipToggle.$sys-primary-text-main;
        background-color: styles-tokens-chips-chipToggle.$sys-primary-decor-hovered;
        border-color: transparent;
      }
    }

    &[data-loading] {
      .toggleChipInput + .toggleChipContent {
        color: styles-tokens-chips-chipToggle.$sys-neutral-text-main;
        background-color: styles-tokens-chips-chipToggle.$sys-neutral-background;
        border-color: styles-tokens-chips-chipToggle.$sys-neutral-decor-activated;
      }
    }

    &[data-disabled] {
      .toggleChipInput + .toggleChipContent {
        color: styles-tokens-chips-chipToggle.$sys-neutral-text-light;
        background-color: styles-tokens-chips-chipToggle.$sys-neutral-decor-disabled;
        border-color: transparent;
      }

      .icon {
        color: styles-tokens-chips-chipToggle.$sys-neutral-text-light;
      }
    }
  }
}
