@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.story {
  resize: horizontal;
  overflow: hidden;
  padding: 2rem;
  background-color: styles-theme-variables.$sys-neutral-background2-level;
}

.invisible {
  display: none;
}
