@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-markdown' as stm;
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element' as ste;

@mixin validationState($state, $rainbowColor, $bgDefault) {
  &[data-validation='#{$state}'] {
    background-color: stm.simple-var(stm.$theme-variables, 'sys', $bgDefault, 'background1-level');
    border-color: stm.simple-var(stm.$theme-variables, 'sys', $bgDefault, 'decor-default');

    &:hover {
      background-color: stm.$sys-neutral-background2-level;
      border-color: stm.simple-var(stm.$theme-variables, 'sys', $rainbowColor, 'decor-hovered');
    }

    &:focus-within,
    &[data-focused] {
      &:not([data-disabled]) {
        @include stm.outline-var(ste.$container-focused-m);

        background-color: stm.simple-var(ste.$sys-neutral-background2-level);
        border-color: stm.simple-var(ste.$theme-variables, 'sys', $rainbowColor, 'accent-default');
        outline-color: stm.simple-var(ste.$theme-variables, 'sys', $rainbowColor, 'decor-activated');
      }
    }
  }
}

.viewWrapper {
  @include stm.composite-var(stm.$markdown-preview-container);
  @include validationState('default', 'primary', 'neutral');
  @include validationState('error', 'red', 'red');

  border-style: solid;
}

.editor {
  display: flex;
  flex-direction: column;
  gap: stm.$dimension-1m;
}

.control {
  display: flex;
  gap: stm.$dimension-1m;
  align-items: center;
  justify-content: space-between;
}

.switchWrapper {
  display: flex;
  gap: stm.$dimension-1m;
  align-items: center;
}

.tip {
  color: stm.$sys-neutral-text-light;
}

