@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-scroll';

.scroll {
  position: relative;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
}