@import '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.description {
  max-width: 600px;
  margin-bottom: 16px;
  color: $sys-neutral-text-support;
}

.opacityTable {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  flex-direction: column;
  gap: 16px;

  width: max-content;
  margin-bottom: 16px;
}

.availableTable {
  display: grid;
  grid-template-columns: repeat(2, 576px);
  flex-direction: column;
  gap: 16px;

  width: max-content;
  margin-bottom: 16px;
}

.blackout {
  max-width: 1168px;
}
