@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-stepper';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.icon {
  @include styles-tokens-stepper.composite-var(styles-tokens-stepper.$stepper-step-status-container);

  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    width: styles-tokens-element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
    height: styles-tokens-element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
  }

  &[data-state='completed'] {
    color: styles-tokens-stepper.$sys-primary-accent-default;
    background-color: styles-tokens-stepper.$sys-primary-decor-default;
  }

  &[data-state='current'] {
    color: styles-tokens-stepper.$sys-primary-on-accent;
    background-color: styles-tokens-stepper.$sys-primary-accent-default;
  }

  &[data-state='waiting'] {
    box-sizing: border-box;
    color: styles-tokens-stepper.$sys-neutral-text-support;
    border-color: styles-tokens-stepper.$sys-neutral-decor-default;
    border-style: solid;
  }

  &[data-state='loading'] {
    box-sizing: border-box;
    color: styles-tokens-stepper.$sys-neutral-accent-default;
    border-color: styles-tokens-stepper.$sys-neutral-decor-default;
    border-style: solid;
  }

  &[data-state='rejected'] {
    color: styles-tokens-stepper.$sys-red-on-accent;
    background-color: styles-tokens-stepper.$sys-red-accent-default;
  }
}