@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: max-content;
  height: 64px;
  margin-bottom: 16px;
  padding: 0 24px;

  background-color: styles-theme-variables.$sys-neutral-background1-level;
  border: 1px solid styles-theme-variables.$sys-neutral-decor-default;
  border-radius: styles-theme-variables.$dimension-050m;
}

.tagRowWrapper {
  resize: horizontal;

  overflow: auto hidden;
  display: flex;
  gap: 8px;

  width: 400px;
  padding: 8px;

  background-color: styles-theme-variables.$sys-neutral-background1-level;
  border: 1px solid styles-theme-variables.$sys-neutral-decor-default;
  border-radius: styles-theme-variables.$dimension-050m;

  &[data-full-width='true'] {
    width: 100%;
  }
}

$border-width: 0.5px;

.table {
  display: inline-grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  background-color: styles-theme-variables.$sys-neutral-background1-level;
  border: $border-width solid styles-theme-variables.$sys-neutral-decor-default;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;

  border: $border-width solid styles-theme-variables.$sys-neutral-decor-disabled;
}

.headerCell {
  text-transform: uppercase;
}
