@import "@snack-uikit/figma-tokens/build/scss/styles-theme-variables";

@font-face {
  font-family: 'SB Sans Interface';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/SBSansUI-Light.otf') format('opentype');
}

@font-face {
  font-family: 'SB Sans Interface';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/SBSansUI-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SB Sans Interface';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/SBSansUI-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'SB Sans Interface';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/SBSansUI-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SB Sans Text Mono';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/SBSansTextMono-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SB Sans Text Mono';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/SBSansTextMono-Regular.otf') format('opentype');
}

body {
  @include composite-var($sans-body-s);

  box-sizing: border-box;
  color: $sys-neutral-text-main;
  background-color: $sys-neutral-background;
}