@import "@sbercloud/figma-tokens/build/scss/styles-theme-variables";

body {
  /* stylelint-disable */
  padding: 0 !important;
}

.wrapper {
  @include composite-var($sans-body-s);
  height: calc(100vh - 32px);
  padding: 1em;
  background-color: var($sys-neutral-background);
  color: var($sys-neutral-text-main-enabled)
}