@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-chips-assistChip';
@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';
@import '../../styles.module';

$sizes: 'xs', 's', 'm', 'l';

$typography: (
  'xs': $sans-label-s,
  's': $sans-label-m,
  'm': $sans-label-m,
  'l': $sans-label-l,
);

.assistChip {
  @include chip-defaults;
  @include chip-anatomy-styles($assist-chip, $sizes, $typography);

  color: simple-var($theme-variables, 'sys', 'neutral', 'text-support');
  background-color: simple-var($theme-variables, 'sys', 'neutral', 'background1-level');
  border-color: simple-var($theme-variables, 'sys', 'neutral', 'decor-default');

  &:hover {
    color: simple-var($theme-variables, 'sys', 'primary', 'text-main');
    background-color: simple-var($theme-variables, 'sys', 'primary', 'background');
    border-color: simple-var($theme-variables, 'sys', 'primary', 'decor-hovered');
  }

  &:focus-visible {
    @include chip-outline;

    color: simple-var($theme-variables, 'sys', 'primary', 'text-main');
    background-color: simple-var($theme-variables, 'sys', 'primary', 'background');
    border-color: simple-var($theme-variables, 'sys', 'primary', 'decor-hovered');
  }

  &:active {
    color: simple-var($theme-variables, 'sys', 'primary', 'accent-pressed');
    background-color: simple-var($theme-variables, 'sys', 'primary', 'background');
    border-color: simple-var($theme-variables, 'sys', 'primary', 'accent-pressed');
  }

  &:disabled {
    @include chip-disabled;
  }

  &[data-loading] {
    @include chip-loading-state($assist-chip, '&[data-variant="label-only"]', label);

    color: simple-var($theme-variables, 'sys', 'primary', 'accent-pressed');
    background-color: simple-var($theme-variables, 'sys', 'primary', 'background');
    border-color: simple-var($theme-variables, 'sys', 'primary', 'accent-pressed');
  }
}
