@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-fields';

.prefix {
  color: styles-tokens-fields.$sys-neutral-text-support;

  &[data-disabled] {
    opacity: styles-tokens-fields.$opacity-a056;
  }
}

.postfix {
  color: styles-tokens-fields.$sys-neutral-text-support;

  &[data-disabled] {
    opacity: styles-tokens-fields.$opacity-a056;
  }
}