@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-skeleton';

.skeletonText {
  position: relative;
}

.skeletonTextLine {
  display: inline-block;

  height: 0.8em;
  margin-top: 0;
  margin-bottom: 0;

  vertical-align: middle;
}

.skeletonTextRow {
  display: inline;
}

.skeletonTextRow + .skeletonTextRow:last-child {
  .skeletonTextLine {
    width: 65%;
  }
}
