@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-drawer';

.drawerBody {
  @include composite-var($drawer-body);

  flex: 1 1 auto;
  box-sizing: border-box;
  min-height: $dimension-2m;
  color: $sys-neutral-text-main;
}
