@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-drawer';

.drawerBody {
  @include styles-tokens-drawer.composite-var(styles-tokens-drawer.$drawer-body);

  flex: 1 1 auto;
  box-sizing: border-box;
  min-height: styles-tokens-drawer.$dimension-2m;
  color: styles-tokens-drawer.$sys-neutral-text-main;
}
