@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.questionTooltip {
  cursor: pointer;

  display: inline-flex;

  margin: 0;
  padding: 0;

  color: styles-tokens-element.$sys-neutral-text-light;

  background: none;
  border: 0;


  &:hover {
    color: styles-tokens-element.$sys-neutral-text-light;
  }

  &:focus-visible {
    @include styles-tokens-element.outline-var(styles-tokens-element.$container-focused-s);

    outline-color: styles-tokens-element.$sys-available-complementary;
  }

  &[data-trigger='click'] {
    &[data-opened='true'] {
      color: styles-tokens-element.$sys-neutral-text-main;
    }

    &:hover {
      color: styles-tokens-element.$sys-neutral-text-support;
    }

    &:active {
      color: styles-tokens-element.$sys-neutral-text-main
    }

    &:focus-visible {
      color: styles-tokens-element.$sys-neutral-text-support;
    }
  }

  &[data-size='xs'] {
    svg {
      width: styles-tokens-element.$icon-xs !important; /* stylelint-disable-line declaration-no-important */
      height: styles-tokens-element.$icon-xs !important; /* stylelint-disable-line declaration-no-important */
    }
  }

  &[data-size='s'] {
    svg {
      width: styles-tokens-element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
      height: styles-tokens-element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
    }
  }
}
