@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';

.questionTooltip {
  cursor: pointer;

  display: inline-flex;

  margin: 0;
  padding: 0;

  color: var($sys-neutral-text-light);

  background: none;
  border: 0;


  &:hover {
    color: var($sys-neutral-text-light);
  }

  &:focus-visible {
    @include outline-var($container-focused-s);

    outline-color: var($sys-available-complementary);
  }

  &[data-trigger='click'] {
    &[data-opened='true'] {
      color: var($sys-neutral-text-main);
    }

    &:hover {
      color: var($sys-neutral-text-support);
    }

    &:active {
      color: var($sys-neutral-text-main)
    }

    &:focus-visible {
      color: var($sys-neutral-text-support);
    }
  }

  &[data-size='xs'] {
    svg {
      width: var($icon-xs) !important; /* stylelint-disable-line declaration-no-important */
      height: var($icon-xs) !important; /* stylelint-disable-line declaration-no-important */
    }
  }

  &[data-size='s'] {
    svg {
      width: var($icon-s) !important; /* stylelint-disable-line declaration-no-important */
      height: var($icon-s) !important; /* stylelint-disable-line declaration-no-important */
    }
  }
}
