@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-toggles';
@use '../styles.module';

.container {
  @include styles.container('radio');
}

.box {
  position: relative;

  box-sizing: border-box;

  background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'background2-level');
  border-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'decor-activated');
  border-style: solid; // это наверное должно быть в композитном токене box

  @each $size in styles.$sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-toggles.composite-var(styles-tokens-toggles.$toggles, $size, 'radio', 'box');
    }
  }

  &[data-focusvisible=true],
  &[data-hover=true] {
    background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'background2-level');
    border-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'accent-hovered');
  }
  
  &[data-disabled=true] {
    background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'decor-disabled');
    border-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'decor-default');
  }

  &[data-checked=true] {
    border-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'primary', 'accent-default');

    &[data-focusvisible=true],
    &[data-hover=true] {
      border-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'primary', 'accent-hovered');
    }

    &[data-disabled=true] {
      border-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'decor-default');
    }
  }
}

.flag {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'primary', 'accent-default');

  &[data-hover=true] {
    background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'primary', 'accent-hovered');
  }

  &[data-disabled=true] {
    background-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'text-disabled');
  }

  &[data-checked=false] {
    display: none;
  }

  @each $size in styles.$sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-toggles.composite-var(styles-tokens-toggles.$toggles, $size, 'radio', 'flag');
    }
  }
}