@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-chips-filterChip';
@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';
@import '../../styles.module';

$sizes: 'xs', 's';

$labelTypography: (
  'xs': $light-label-s,
  's': $light-label-m,
);

$valueTypography: (
  'xs': $sans-label-s,
  's': $sans-label-m,
);

.label, .value {
  display: inline-flex;
  align-items: center;
}

.filterChip {
  @include chip-defaults;
  @include chip-anatomy-styles($filter-chip, $sizes, $labelTypography);

  color: simple-var($theme-variables, 'sys', 'neutral', 'text-support');
  background-color: simple-var($theme-variables, 'sys', 'neutral', 'background');
  border-color: simple-var($theme-variables, 'sys', 'neutral', 'decor-default');

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      .value {
        @include composite-var($valueTypography, $size);
      }
    }
  }

  &:hover, &:active {
    background-color: simple-var($theme-variables, 'sys', 'primary', 'background');
  }

  &:hover {
    color: simple-var($theme-variables, 'sys', 'primary', 'text-main');
    border-color: simple-var($theme-variables, 'sys', 'primary', 'decor-hovered');
  }

  &:focus-visible {
    @include chip-outline;

    color: simple-var($theme-variables, 'sys', 'primary', 'text-main');
    background-color: simple-var($theme-variables, 'sys', 'primary', 'background');
    border-color: simple-var($theme-variables, 'sys', 'primary', 'decor-hovered');
  }

  &:active {
    color: simple-var($theme-variables, 'sys', 'primary', 'text-support');
    border-color: simple-var($theme-variables, 'sys', 'primary', 'accent-default');
  }

  &:disabled {
    @include chip-disabled;
  }

  &[data-loading] {
    @include chip-loading-state($filter-chip, '&:not([data-label])', (value, icon));

    color: simple-var($theme-variables, 'sys', 'primary', 'accent-pressed');
    background-color: simple-var($theme-variables, 'sys', 'primary', 'background');
    border-color: simple-var($theme-variables, 'sys', 'primary', 'accent-default');
  }
}


.triggerClassName {
  --offset: #{calc(var($border-state-focus-s-border-width) + var($space-drop-list-drop-offset))};
}