@import '@sbercloud/figma-tokens/build/scss/styles-theme-variables';

.wrapper {
  resize: both;
  
  overflow: auto;

  min-width: 400px;
  max-width: 100%;
  width: 400px;
  height: 320px;
  padding: 24px;

  background-color: $sys-neutral-background1-level;
}

.demoComponent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

