@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-link';
@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';

$sizes: 's', 'm', 'l';
$appearances: 'neutral', 'primary';

.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  @each $appearance in $appearances {
    &[data-appearance='#{$appearance}'] {
      color: simple-var($theme-variables, 'sys', $appearance, 'text-support');
      &:hover {
        color: simple-var($theme-variables, 'sys', $appearance, 'text-main');
      }
      &:focus-visible {
        @include outline-var($container-focused-s);
    
        color: simple-var($theme-variables, 'sys', $appearance, 'text-main');
        outline-color: var($sys-available-complementary);
      }
    }
  }

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include composite-var($link, 'container', $size);
      @include composite-var($theme-variables, 'sans', 'body', $size);
    }
  }


}

