@import '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.card {
  display: grid;
  align-items: center;
  justify-content: center;

  width: 400px;
  height: 220px;

  background-color: $sys-neutral-background1-level;
  border: 1px solid $sys-neutral-decor-default;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
    resize: horizontal;

    overflow: auto;

    width: 500px;
    min-width: 300px;
    padding: 24px;

    background-color: $sys-neutral-background1-level;
    border: 1px solid $sys-neutral-decor-default;
    border-radius: $dimension-050m;
}