@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.searchItem {
  width: 100%;

  &:focus-within,
  &:focus-visible {
    @include styles-tokens-element.outline-inside-var(styles-tokens-element.$container-focused-s);

    max-width: 100%;
    outline-color: styles-tokens-element.$sys-primary-decor-activated;
  }
}
