@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: styles-theme-variables.$dimension-2m;
  background-color: styles-theme-variables.$sys-neutral-background1-level;
}
