@import '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $dimension-2m;

  padding: $dimension-3m;

  background-color: $sys-neutral-background1-level;
}