@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-modal';

$aligns: 'default', 'center';

.header {
  /* stub for proper typings */
}

.image {
  @include styles-tokens-modal.composite-var(styles-tokens-modal.$modal, 'image');

  display: block;
  width: 100%;
  object-fit: cover;
}

.icon {
  @include styles-tokens-modal.composite-var(styles-tokens-modal.$modal, 'icon-decor');

  display: flex;
  justify-content: center;
}

.headlineLayout {
  @each $align in $aligns {
    &[data-align="#{$align}"] {
      @include styles-tokens-modal.composite-var(styles-tokens-modal.$modal, 'headline-layout', $align);

      display: flex;
      flex-direction: column;

      @if ($align == 'center') {
        align-items: center;

        .title, .subtitle {
          text-align: center;
        }
      }
    }
  }
}

.headline {
  @include styles-tokens-modal.composite-var(styles-tokens-modal.$modal-headline);

  display: flex;
  align-items: center;
}

.title {
  display: grid;
}

.subtitle {
  color: styles-tokens-modal.$sys-neutral-text-support;
}
