@use "sass:map";

@import '@sbercloud/figma-tokens/build/scss/styles-theme-variables';

$appearance: 'invert-neutral','neutral', 'primary', 'red', 'orange', 'blue', 'violet', 'pink', 'yellow', 'green';
$on-surfaces: 'background', 'decor', 'accent';
$link-surface: (
  'background': 'background',
  'decor': 'decor-default',
  'accent': 'accent-default',
);

.wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  resize: both;
  width: 200px;
  overflow: auto;

  height: 64px;
  margin-bottom: 16px;
  padding: 0 24px;

  border: 1px solid $sys-neutral-decor-default;
  border-radius: $dimension-050m;

  @each $on-surface in $on-surfaces {
    &[data-on-surface='#{$on-surface}'] {
      @each $appearance in $appearance {
        &[data-appearance='#{$appearance}'] {
          background-color: simple-var($theme-variables, 'sys', $appearance, map.get($link-surface, $on-surface));
        }
      }
    }  
  } 
}

$border-width: 0.5px;


.table {
  display: inline-grid;
  grid-template-columns: repeat(2, max-content);

  margin-right: 16px;

  background-color: $sys-neutral-background1-level;
  border: $border-width solid $sys-neutral-decor-default;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;

  border: $border-width solid $sys-neutral-decor-disabled;

  @each $on-surface in $on-surfaces {
    &[data-on-surface='#{$on-surface}'] {
      @each $appearance in $appearance {
        &[data-appearance='#{$appearance}'] {
          background-color: simple-var($theme-variables, 'sys', $appearance, map.get($link-surface, $on-surface));
        }
      }
    }  
  } 
}


.headerCell {
  text-transform: uppercase;
}