@import '@sbercloud/figma-tokens/build/scss/styles-theme-variables';

.story {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 400px;
  padding: 24px;

  background-color: var($sys-neutral-background1-level);
  border: 1px solid var($sys-neutral-decor-default);
  border-radius: var($dimension-050m);
}

.item {
  height: 10px;
}
