@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-breadcrumbs';

$sizes: 'xs', 's';

.wrapper {
  @include composite-var($breadcrumbs, 'container'); 

  overflow: hidden;

  &[data-hidden='true'] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}

.row {
  display: flex;
  margin: 0;
  padding: 0;

  &[data-hidden='true'] {
    display: inline-flex;
  }
}