@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-card';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.callToAction {
  @include styles-tokens-card.composite-var(styles-tokens-card.$card-call-to-action);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: styles-tokens-card.$sys-primary-accent-default;
  
  svg {
    width: styles-tokens-element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
    height: styles-tokens-element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
  }
}

.label {
  color: styles-tokens-card.$sys-primary-accent-default;
}