@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-card';
@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.callToAction {
  @include composite-var($card-call-to-action);

  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.label {
  color: $sys-primary-accent-default;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $sys-primary-accent-default;
  
  svg {
    width: $icon-s !important; /* stylelint-disable-line declaration-no-important */
    height: $icon-s !important; /* stylelint-disable-line declaration-no-important */
  }
}