@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.collapse {
  color: styles-tokens-element.simple-var(styles-tokens-element.$theme-variables, 'sys', 'neutral', 'text-light');
  background: none;
  border: none;

  &:focus-visible,
  &:hover {
    color: styles-tokens-element.simple-var(styles-tokens-element.$theme-variables, 'sys', 'neutral', 'text-support');
  }

  &:focus-visible {
    @include styles-tokens-element.outline-var(styles-tokens-element.$container-focused-s);

    outline-color: styles-tokens-element.simple-var(
      styles-tokens-element.$theme-variables,
      'sys',
      'available',
      'complementary'
    );
  }
}

.collapsedRow {
  display: flex;
}

.a {
  text-decoration: none;
}
