@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';
@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-fields';

$sizes: 's', 'm', 'l';
$icons-sizes: (
  's': $icon-xs,
  'm': $icon-s,
  'l': $icon-s,
);

.triggerClassName {
  --offset: #{$space-drop-list-drop-offset};

  display: block;
  width: 100%;
}

.colorPreview {
  position: relative;

  width: $dimension-2m;
  height: $dimension-2m;

  /* stylelint-disable-next-line color-no-hex */
  background-color: #fff;
  border-radius: $dimension-050m;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--color);
    border-radius: $dimension-050m;
  }
}
