@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-chips-chipChoice';
@use '../../styles.module';

.label {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  white-space: nowrap;
}

.value {
  display: inline-flex;
  align-items: center;
  min-width: 0;
}

.choiceChip {
  @include styles.chip-defaults;
  @include styles.chip-anatomy-styles(styles-tokens-chips-chipChoice.$chip-choice, styles.$sizes, styles.$labelTypography);

  background-color: styles-tokens-chips-chipChoice.$sys-neutral-background1-level;
  border-color: styles-tokens-chips-chipChoice.$sys-neutral-decor-default;

  .label,
  .value {
    color: styles-tokens-chips-chipChoice.$sys-neutral-text-support;
  }

  .icon {
    color: styles-tokens-chips-chipChoice.$sys-neutral-text-light;
  }

  @each $size in styles.$sizes {
    &[data-size='#{$size}'] {
      .value {
        @include styles-tokens-chips-chipChoice.composite-var(styles.$valueTypography, $size);
      }
    }
  }

  &:hover,
  &:active,
  &:focus-visible {
    background-color: styles-tokens-chips-chipChoice.$sys-neutral-background2-level;
    border-color: styles-tokens-chips-chipChoice.$sys-neutral-decor-hovered;

    .label {
      color: styles-tokens-chips-chipChoice.$sys-neutral-text-support;
    }

    .value {
      color: styles-tokens-chips-chipChoice.$sys-neutral-text-main;
    }
  }

  &:focus-visible {
    @include styles.chip-outline;
  }

  &[data-disabled] {
    cursor: not-allowed;
    background-color: styles-tokens-chips-chipChoice.$sys-neutral-background;
    border-color: styles-tokens-chips-chipChoice.$sys-neutral-decor-disabled;

    .label,
    .value {
      color: styles-tokens-chips-chipChoice.$sys-neutral-text-light;
    }
  }

  &[data-loading] {
    @include styles.chip-loading-state(styles-tokens-chips-chipChoice.$chip-choice, '&:not([data-label])', value, null, true);

    background-color: styles-tokens-chips-chipChoice.$sys-neutral-background;
    border-color: styles-tokens-chips-chipChoice.$sys-neutral-decor-activated;

    .label,
    .value {
      color: styles-tokens-chips-chipChoice.$sys-neutral-text-support;
    }
  }
}

.triggerClassName {
  --offset: #{styles-tokens-chips-chipChoice.$space-drop-list-drop-offset};
}
