@import '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

$sizes: 's', 'm', 'l';
$typography: (
  's': $sans-body-s,
  'm': $sans-body-m,
  'l': $sans-body-l,
);

.wrapper {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  color: simple-var($sys-neutral-text-disabled);

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include composite-var($typography, $size);
    }
  }
}
