@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

$sizes: 's', 'm', 'l';
$typography: (
  's': styles-theme-variables.$sans-body-s,
  'm': styles-theme-variables.$sans-body-m,
  'l': styles-theme-variables.$sans-body-l,
);

.wrapper {
  cursor: default;

  display: flex;
  align-items: center;
  justify-content: center;

  color: styles-theme-variables.simple-var(styles-theme-variables.$sys-neutral-text-disabled);

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-theme-variables.composite-var($typography, $size);
    }
  }
}
