@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-alert';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-alert-alertTop';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

$simpleAppearances: 'neutral', 'primary', 'red', 'yellow', 'green', 'blue';
$tonalAppearances: 'invert-neutral', 'primary', 'red', 'yellow', 'green', 'blue';
$sizes: 's', 'm';
$text: ('s': 'm', 'm': 'l');

.alertButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  white-space: nowrap;

  background: none;
  border: 0;

  .text {
    @each $name, $glyph in $text {
      &[data-size='#{$name}'] {
        @include styles-tokens-alert.composite-var(styles-tokens-alert.$theme-variables, 'sans', 'label', $glyph)
      }
    }
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: styles-tokens-element.$icon-s;
    height: styles-tokens-element.$icon-s;

    svg {
      max-width: styles-tokens-element.$icon-s;
      max-height: styles-tokens-element.$icon-s;
    }
  }

  &[data-loading='true'] {
    cursor: not-allowed;
    > * {
      cursor: not-allowed;
    }
  }
}

.alertButton[data-variant='simple'] {
  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-alert.composite-var(styles-tokens-alert.$alert, $size, 'button', 'button-action');

      &[data-icon-only] {
        @include styles-tokens-alert.composite-var(styles-tokens-alert.$alert, $size, 'button', 'button-close');

      }
    }
  }

  &:focus-visible {
    outline-color: styles-tokens-alert.$sys-available-complementary;
    outline-offset: styles-tokens-alert.$spacing-state-focus-offset;
  }

  @each $appearance in $simpleAppearances {
    &[data-appearance='#{$appearance}'] {
      color: styles-tokens-alert.simple-var(styles-tokens-alert.$theme-variables, 'sys', $appearance, 'text-support');

      &:hover,
      &:focus-visible {
        color: styles-tokens-alert.simple-var(styles-tokens-alert.$theme-variables, 'sys', $appearance, 'text-main');
      }

      &:active {
        color: styles-tokens-alert.simple-var(styles-tokens-alert.$theme-variables, 'sys', $appearance, 'text-main');
      }
    }
  }
}

.alertButton[data-variant='tonal'] {
  @include styles-tokens-alert.composite-var(styles-tokens-alert-alertTop.$alert-top-button-button-action);

  background: styles-tokens-alert.$sys-opacity-enabled;

  &[data-icon-only] {
    @include styles-tokens-alert.composite-var(styles-tokens-alert-alertTop.$alert-top-button-button-close);

    background: none;
  }

  &:hover {
    opacity: unset;
    background-color: styles-tokens-alert.$sys-opacity-hovered;
  }

  &:focus-visible {
    @include styles-tokens-alert.outline-var(styles-tokens-element.$container-focused-s);

    background-color: styles-tokens-alert.$sys-opacity-hovered;
    outline-color: styles-tokens-alert.$sys-available-on-complementary;
  }
  &:active {
    background-color: styles-tokens-alert.$sys-opacity-activated;
  }

  @each $appearance in $tonalAppearances {
    &[data-appearance='#{$appearance}'] {
      @if $appearance == 'invert-neutral' {
        color: styles-tokens-alert.simple-var(styles-tokens-alert.$theme-variables, 'sys', $appearance, 'text-main');
      }

 @else {
        color: styles-tokens-alert.simple-var(styles-tokens-alert.$theme-variables, 'sys', $appearance, 'on-accent');
      }
    }
  }
}
