@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-markdown';

.markdown {
  overflow: auto;
  height: 100%;
  color: styles-tokens-markdown.$sys-neutral-text-main;

  >:first-child {
    padding-top: 0;
  }

  img {
    box-sizing: content-box;
    max-width: 100%;
    border-style: none;
  }

  h1 {
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$sans-headline-l);
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$markdown-syntax-headings-level1);
  }

  h2 {
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$sans-headline-m);
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$markdown-syntax-headings-level2);
  }

  h3 {
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$sans-headline-s);
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$markdown-syntax-headings-level3);
  }

  h4 {
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$sans-title-l);
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$markdown-syntax-headings-level4);
  }

  h5 {
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$sans-title-m);
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$markdown-syntax-headings-level5);
  }

  h6 {
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$sans-title-s);
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$markdown-syntax-headings-level6);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$sans-body-m);
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$markdown-syntax-paragraphs);

    margin: 0;
  }

  li {
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$sans-body-m);
  }

  strong {
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$sans-label-l);
  }

  ul,
  ol {
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$markdown-syntax-list);

    padding-inline-start: calc(styles-tokens-markdown.$dimension-3m - styles-tokens-markdown.$dimension-050m);

    p {
      padding-top: 0;
    }
  }

  ul > li {
    list-style-type: disc;
  }

  ol > li {
    list-style-type: decimal;
  }
}
