@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-accordion';

.accordionPrimary {
  --accordion-header-padding-horizontal: #{styles-tokens-accordion.$space-accordion-collapse-block-primary-horizontal-padding};
  --accordion-header-padding-vertical: #{styles-tokens-accordion.$space-accordion-collapse-block-primary-vertical-padding};

  @include styles-tokens-accordion.composite-var(styles-tokens-accordion.$accordion-primary);

  display: flex;
  flex-direction: column;
}