@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-toggles';
@use '../styles.module';

$icons: (
  'star': 'yellow',
  'heart': 'red',
);

.container {
  @include styles.container('favourite');

  outline-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'available', 'complementary');

  &[data-checked='true'] {
    outline-color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'available', 'complementary');
  }
}

.icon {
  color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'text-light');

  &:not([data-disabled='true']) {
    &[data-hover='true'] {
      color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', 'neutral', 'text-support');
    }

    @each $icon, $color in $icons {
      &[data-icon='#{$icon}'] {
        &[data-checked='true'] {
          color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', $color, 'accent-default');

          &[data-focusvisible='true'],
          &[data-hover='true'] {
            color: styles-tokens-toggles.simple-var(styles-tokens-toggles.$theme-variables, 'sys', $color, 'accent-hovered');
          }
        }
      }
    }
  }

  &[data-disabled='true'] {
    color: styles-tokens-toggles.$sys-neutral-text-disabled;
  }
}
