@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.story {
  margin-bottom: 1em;
  padding: 1em;

  background-color: styles-theme-variables.$sys-neutral-background1-level;
  border: 1px solid styles-theme-variables.$sys-neutral-decor-default;
  border-radius: styles-theme-variables.$dimension-050m;
}

.panel {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  margin-top: 1rem;
}