@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-timeline';
@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.trackItem {
  @include composite-var($timeline-container);

  display: flex;
  flex-direction: row;

  .opposite, .content {
    @include composite-var($timeline-content-layout);

    flex: 1 1 0;
  }
}
