@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-timeline';

.trackItem {
  @include styles-tokens-timeline.composite-var(styles-tokens-timeline.$timeline-container);

  display: flex;
  flex-direction: row;

  .opposite, .content {
    @include styles-tokens-timeline.composite-var(styles-tokens-timeline.$timeline-content-layout);

    flex: 1 1 0;
  }
}
