@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

$containerSize: 1px;

@mixin commonStyles() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: styles-theme-variables.$sys-neutral-decor-default;
  border: none;
}

.horizontal {
  @include commonStyles();

  width: 100%;

  &[data-weight='regular'] {
    height: $containerSize;
  }

  &[data-weight='light'] {
    height: calc($containerSize / 2);
  }
}

.vertical {
  @include commonStyles();

  height: 100%;

  &[data-weight='regular'] {
    width: $containerSize;
  }

  &[data-weight='light'] {
    width: calc($containerSize / 2);
  }
}
