@import '@sbercloud/figma-tokens/build/scss/styles-theme-variables';

$weights: (
  'light': 0.5,
  'regular': 1,
);

.root {
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0;

  .divider {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;

    background-color: var($sys-neutral-decor-default);
    border: none;
  }

  @each $weightAlias, $size in $weights {
    $containerSize: 1px;

    &[data-orientation='horizontal'][data-weight='#{$weightAlias}'] {
      width: 100%;
      height: $containerSize;

      .divider {
        transform: scaleY($size);
      }
    }

    &[data-orientation='vertical'][data-weight='#{$weightAlias}'] {
      width: $containerSize;
      height: 100%;

      .divider {
        transform: scaleX($size);
      }
    }
  }
}
