@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-toolbar';
@import '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.separator {
  flex-shrink: 0;

  box-sizing: border-box;
  width: $border-width-toolbar-separator;
  margin: $space-toolbar-separator-padding 0;

  background-color: $sys-neutral-decor-default;
}



