@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-tag';

$sizes: 'xs', 's';

.tagRowSimpleWrapper {
  display: flex;
  flex-wrap: wrap;

  @each $size in $sizes {
    &[data-size=#{$size}] {
      @include styles-tokens-tag.composite-var(styles-tokens-tag.$tag-row, $size);
    }
  }
}
