@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-dropList';
@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

$sizes: 's', 'm', 'l';

$typography: (
  's': (
    'label': $sans-body-s,
    'caption': $sans-body-s,
    'description': $sans-body-s,
  ),
  'm': (
    'label': $sans-body-m,
    'caption': $sans-body-s,
    'description': $sans-body-s,
  ),
  'l': (
    'label': $sans-body-l,
    'caption': $sans-body-m,
    'description': $sans-body-m,
  ),
);

@function color-with-opacity($color, $background-color, $opacity) {
  @return color-mix(in srgb, $color, $background-color calc((1 - $opacity) * 100%));
}

.headline {
  display: flex;
  align-items: center;
}

.option {
  overflow: hidden;
  flex: 1;
  color: simple-var($sys-neutral-text-main);
}

.caption {
  overflow: hidden;
  color: simple-var($sys-neutral-text-light);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  color: simple-var($sys-neutral-text-support);
}

.beforeContent {
  display: inline-flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: simple-var($icon-s);
  height: simple-var($icon-s);

  svg {
    width: 100% !important; /* stylelint-disable-line declaration-no-important */
    height: 100% !important; /* stylelint-disable-line declaration-no-important */
  }
}

.expandableIcon {
  display: flex;
  align-items: center;
  fill: currentColor;
}

.markerContainer {
  @include composite-var($drop-list, 'item', 'marker-container');

  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  height: 100%;

  &:before {
    @include composite-var($drop-list, 'item', 'marker');

    content: '';
    display: block;
    height: 100%;
  }
}

.content {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
}

.droplistItem {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  width: max-content;
  min-width: 100%;
  margin: 0;
  padding: 0;

  color: simple-var($sys-neutral-text-main);
  text-align: start;

  appearance: unset;
  background-color: simple-var($sys-neutral-background2-level);
  border: none;
  outline: none;

  @each $size in $sizes {
    &[data-size=#{$size}] {
      @include composite-var($drop-list, 'item', $size, 'container');

      .headline {
        @include composite-var($drop-list, 'item', $size, 'headline');
      }

      .option {
        @include composite-var($typography, $size, 'label');
      }

      .caption {
        @include composite-var($typography, $size, 'caption');
      }

      .description {
        @include composite-var($typography, $size, 'description');
      }
    }
  }

  &[data-open],
  &:hover, 
  &:focus-visible {
    background-color: color-with-opacity($sys-neutral-accent-default, $sys-neutral-background2-level, $opacity-a008);
  }

  &:focus-visible {
    @include outline-inside-var($container-focused-s);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $sys-neutral-background1-level;
    outline: none;

    &::before {
      display: none;
    }

    .option, .description, .caption, .expandableIcon {
      color: simple-var($sys-neutral-text-disabled);
    }
  }

  &[data-has-checked],
  &[data-checked] {
    &[data-variant='single'] {
      background-color: color-with-opacity($sys-primary-accent-default, $sys-neutral-background2-level, $opacity-a008);
      &:hover {
        background-color: color-with-opacity($sys-primary-accent-default, $sys-neutral-background2-level, $opacity-a016);
      }
    }

    .markerContainer:before {
      background-color: simple-var($sys-primary-accent-default);
    }

    &:focus-visible {
      &[data-variant='single'] {
        background-color: simple-var($sys-primary-background);
        outline-color: simple-var($sys-primary-accent-default);
      }
    }

    &:disabled {
      &[data-variant='single'] {
        background-color: $sys-neutral-background1-level;

        &::before {
          display: none;
        }
      }

      .markerContainer:before {
        background-color: simple-var($sys-neutral-text-disabled);
      }
    }
  }
}
