@import '@sbercloud/figma-tokens/build/scss/styles-theme-variables';

$families: 'sans', 'light', 'link', 'crossed-out', 'mono';
$roles: 'display', 'headline', 'title', 'label', 'body';
$sizes: 's', 'm', 'l';

.typography {
  padding: 0;
  margin: 0;

  @each $family in $families {
    &[data-family='#{$family}'] {
      @each $role in $roles {
        &[data-role='#{$role}'] {
          @each $size in $sizes {
            &[data-size='#{$size}'] {
              @include composite-var($theme-variables, $family, $role, $size)
            }
          }
        }
      }
    }
  }
}
