@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';
.container {
  resize: horizontal;

  overflow: hidden;

  box-sizing: border-box;
  width: calc(100% - 20px);
  max-width: 100%;
  height: 100%;
  padding: 10px;

  background-color: styles-tokens-element.simple-var(styles-tokens-element.$theme-variables, 'sys', 'neutral', 'background1-level');
  box-shadow: styles-tokens-element.simple-var(styles-tokens-element.$theme-variables, 'box-shadow', 'elevation', 'level2');
}

.crumbClickHolder {
  width: 0;
  height: 0;
  opacity: 0;
}
