@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-table';

.tableEmptyStateWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: styles-tokens-table.$size-table-information-min-height;
  padding: styles-tokens-table.$dimension-3m;
}
