@import '@sbercloud/figma-tokens/build/scss/styles-theme-variables';
@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';

$cell-width: 360px;
$cell-height: 280px;

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: $cell-width;
  height: $cell-height;
  padding: 8px;
  color: var($sys-primary-text-main-enabled);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: var($sys-neutral-container-enabled);
  border: 0;
  border-radius: 16px;
  transition: background-color 100ms;

  @include composite-var($sans-body-m);

  &[data-small] {
    gap: 4px;
    width: calc($cell-width / 1.75);
    height: calc($cell-height / 1.75);

    @include composite-var($sans-body-s);
  }


  &:hover {
    background-color: var($sys-primary-container-activated);
  }

  &:focus-visible {
    @include outline-var($container-focused-primary-size-s);
    background-color: var($sys-primary-container-activated);
    outline-offset: var($spacing-state-focus-offset);
  }

  &:active {
    background-color: var($sys-primary-container-disabled);
  }
}

.row {
  display: flex;
  gap: 8px;
  align-items: center;
}