@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-modal';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background: styles-tokens-modal.simple-var(styles-tokens-modal.$sys-blackout);

  &[data-blur] {
    backdrop-filter: blur(styles-tokens-modal.simple-var(styles-tokens-modal.$background-blur-background-blur));
  }
}
