@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

$sizes: 's', 'm', 'l';
$icons-sizes: (
  's': styles-tokens-element.$icon-xs,
  'm': styles-tokens-element.$icon-s,
  'l': styles-tokens-element.$icon-s
);

.triggerClassName {
  --offset: #{styles-tokens-element.$space-drop-list-drop-offset};

  display: block;
  width: 100%;
}

.calendarWrapper {
  width: 100%;
  height: 100%;

  &[data-size='s'] {
    min-width: 240px;
    min-height: 256px;
  }
  &[data-size='m'] {
    min-width: 280px;
    min-height: 308px;
  }
  &[data-size='l'] {
    min-width: 304px;
    min-height: 328px;
  }
}

.container {
  .calendarIcon {
    color: styles-tokens-element.$sys-neutral-text-light;

    @each $size in $sizes {
      &[data-size='#{$size}'] {
        width: styles-tokens-element.simple-var($icons-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
        height: styles-tokens-element.simple-var($icons-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }

  &:hover, &:focus-within, &[data-focused] {
    .calendarIcon {
      color: styles-tokens-element.$sys-neutral-text-support;
    }
  }

  &[data-disabled], &[data-readonly] {
    .calendarIcon {
      color: styles-tokens-element.$sys-neutral-text-disabled;
    }
  }
}