@import '@sbercloud/figma-tokens/build/scss/styles-theme-variables';

.wrapper {
  display: block;
  width: fit-content;
  padding: 2rem;
  background-color: simple-var($sys-neutral-background1-level);
}
