@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-table';

.tableCell {
  @include styles-tokens-table.composite-var(styles-tokens-table.$sans-body-m);

  display: flex;
  align-items: center;

  box-sizing: border-box;
  width: 100%;

  background-color: transparent;
}
