@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-toolbar';
@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';

.toolbar {
  box-sizing: border-box;
}

.container {
  @include composite-var($toolbar-container);

  display: flex;
  background-color: $sys-neutral-background1-level;
}

.search {
  @include composite-var($toolbar-search);  

  &:focus-within {
    @include outline-var($container-focused-s);

    position: relative;
    outline-color: $sys-available-complementary;
  }
}

.updateButton {
  svg {
    transform: rotate(360deg);
    transition: transform 0.5s;
  }

  &:active {
    svg {
      transform: rotate(0deg);
      transition-duration: 0s;
    }
  }
}


.actions {
  display: flex;
  flex-shrink: 0;
}