@import '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.wrapper {
  resize: auto;
  
  overflow: auto;

  min-width: 400px;
  max-width: 100%;
  height: 600px;
  min-height: 200px;
  max-height: 750px;
  padding: 24px;

  background-color: $sys-neutral-background;
}

