@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-attachment';

$sizes: 's', 'm';

.img {
  overflow: hidden;
  flex-shrink: 0;
  box-sizing: border-box;
  object-fit: cover;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-attachment.composite-var(styles-tokens-attachment.$attachment, 'composition', 'start-item', $size);
    }
  }
}
