@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-counter';

.wrapper {
    padding: 24px;
    background-color: var($sys-neutral-background1-level);
    border: 1px solid var($sys-neutral-decor-default);
    border-radius: var($dimension-050m);
}