@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-counter';

.wrapper {
    resize: horizontal;

    overflow: auto;

    width: 500px;
    min-width: 300px;
    padding: 24px;

    background-color: $sys-neutral-background1-level;
    border: 1px solid $sys-neutral-decor-default;
    border-radius: $dimension-050m;
}