@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-counter';

.wrapper {
    resize: horizontal;

    overflow: auto;

    width: 600px;
    min-width: 300px;
    padding: 24px;

    background-color: styles-tokens-counter.$sys-neutral-background1-level;
    border: 1px solid styles-tokens-counter.$sys-neutral-decor-default;
    border-radius: styles-tokens-counter.$dimension-050m;
}