@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-segmentedControl';
@use "@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element";

$sizes: 's', 'm', 'l';
$layouts: 'label-only', 'icon-before', 'icon-only';
$typographies: (
  's': styles-tokens-segmentedControl.$sans-label-m,
  'm': styles-tokens-segmentedControl.$sans-label-m,
  'l': styles-tokens-segmentedControl.$sans-label-l,
);

.segment {
  cursor: pointer;

  position: relative;
  z-index: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  color: styles-tokens-segmentedControl.$sys-neutral-text-support;

  background-color: transparent;
  border-width: 0;

  &:hover {
    color: styles-tokens-segmentedControl.$sys-neutral-text-main;
  }

  &[data-disabled], &[data-disabled]:hover {
    cursor: not-allowed;
    color: styles-tokens-segmentedControl.$sys-neutral-text-disabled;
  }

  &[data-active] {
    color: styles-tokens-segmentedControl.$sys-neutral-text-main;

    &[data-disabled], &[data-disabled]:hover {
      color: styles-tokens-segmentedControl.$sys-neutral-text-disabled;
    }
  }

  &:focus-visible {
    @include styles-tokens-segmentedControl.outline-inside-var(styles-tokens-element.$container-focused-s);

    outline-color: styles-tokens-segmentedControl.simple-var(styles-tokens-segmentedControl.$sys-available-complementary);
  }

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @each $layout in $layouts {
        &[data-layout='#{$layout}'] {
          @include styles-tokens-segmentedControl.composite-var(styles-tokens-segmentedControl.$segmented-control, 'segment', $size, $layout);
        }
      }
    }
  }
}

.icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.label {
  @each $size, $typography in $typographies {
    &[data-size='#{$size}'] {
      @include styles-tokens-segmentedControl.composite-var($typography);
    }
  }
}
