@import '@sbercloud/figma-tokens/build/scss/styles-theme-variables';

.wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: max-content;
  height: 64px;
  margin-bottom: 16px;
  padding: 24px;

  background-color: $sys-neutral-background1-level;
  border: 1px solid $sys-neutral-decor-default;
  border-radius: $dimension-050m;
}

$border-width: 0.5px;

.table {
  display: inline-grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  background-color: $sys-neutral-background1-level;
  border: $border-width solid $sys-neutral-decor-default;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;

  border: $border-width solid $sys-neutral-decor-disabled;
}

.headerCell {
  text-transform: uppercase;
}
