@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-markdown' as stm;

.wrapper {
  @include stm.composite-var(stm.$markdown-syntax-quote);

  .blockquote > p {
    padding-top: 0;
  }
}

.blockquote {
  @include stm.composite-var(stm.$markdown-quote-container);

  box-sizing: border-box;
  margin: 0;

  background-color: stm.$sys-neutral-background;
  border-left-color: stm.$sys-neutral-decor-default;
  border-left-style: solid;
}
