@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-notification-notificationPanel';

.notificationPanelPopoverWrap {
  @include styles-tokens-notification-notificationPanel.composite-var(styles-tokens-notification-notificationPanel.$notification-panel-container);

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}

.notificationPanelPopover {
  @include styles-tokens-notification-notificationPanel.composite-var(styles-tokens-notification-notificationPanel.$notification-panel-panel);

  overflow: hidden;
  display: flex;
  flex-direction: column;

  height: 100%;

  background-color: styles-tokens-notification-notificationPanel.$sys-neutral-background2-level;
  box-shadow: styles-tokens-notification-notificationPanel.$box-shadow-elevation-level2;
}
