@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.listEmptyStateWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: styles-tokens-element.$dimension-1m;
}
