@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables' as var;
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-codeEditor' as stc;



.editor {
  background-color: inherit;

  &::after {
    pointer-events: none;
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;

    opacity: var.$opacity-a004;
    background-color: var.$sys-neutral-accent-default;
  }
}

.headline {
  @include stc.composite-var(stc.$code-editor-headline);

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: stc.$sys-neutral-background;
  border-color: stc.$sys-neutral-decor-default;
}
