@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-scroll';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-colorPicker';

$theme-name: osThemeSnack;
$scrollbar-slider-active-zone: 12px;

.#{$theme-name} .react-colorful {
  @include styles-tokens-scroll.composite-var(styles-tokens-colorPicker.$color-picker-color-palette);

  width: 100%;
  min-height: 200px;
}

.#{$theme-name} .react-colorful .react-colorful__saturation {
  border-bottom-width: 8px;
  border-radius: 0;
}

.#{$theme-name} .react-colorful .react-colorful__pointer {
  @include styles-tokens-scroll.composite-var(styles-tokens-colorPicker.$color-picker-color-slider);

  /* stylelint-disable-next-line color-no-hex */
  border-color: #fff;
  box-shadow: styles-tokens-scroll.$box-shadow-elevation-level3;
}

.#{$theme-name} .react-colorful .react-colorful__hue,
.#{$theme-name} .react-colorful .react-colorful__alpha {
  @include styles-tokens-scroll.composite-var(styles-tokens-colorPicker.$color-picker-slider-track);
}