@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-scroll';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-colorPicker';

$orientations: 'vertical', 'horizontal';
$sizes: 's', 'm';

.container {
  @include styles-tokens-scroll.composite-var(styles-tokens-colorPicker.$color-picker-container);

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 248px;
}

.footer {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  padding-top: styles-tokens-scroll.$space-color-picker-footer-gap;

  border-top: solid 1px styles-tokens-scroll.$sys-neutral-decor-default;
}

.colorModel {
  @include styles-tokens-scroll.composite-var(styles-tokens-colorPicker.$color-picker-color-model);

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.colorFields {
  @include styles-tokens-scroll.composite-var(styles-tokens-colorPicker.$color-picker-color-model);

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  &[data-with-alpha] {
    grid-template-columns: repeat(4, 1fr);
  }

  &[data-mode='hex'] {
    grid-template-columns: 1fr;

    &[data-with-alpha] {
      grid-template-columns: 1fr min-content;
    }
  }
}
