@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-fields';
@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';

$sizes: 's', 'm', 'l';
$header-typography: (
  's': $sans-label-m,
  'm': $sans-label-m,
  'l': $sans-label-l
);
$footer-typography: (
  's': $sans-body-s,
  'm': $sans-body-s,
  'l': $sans-body-m
);

.decorator {
  display: flex;
  flex-direction: column;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include composite-var($fields, 'decorator', $size);
    }
  }
}

.header {
  display: flex;
  box-sizing: border-box;
  color: simple-var($sys-neutral-text-support);

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include composite-var($fields, 'label', $size);
      @include composite-var($header-typography, $size);
    }
  }
}

.labelLayout {
  @include composite-var($fields-label-label-layout);

  display: inline-flex;
  align-items: center;
}

.label {
  display: grid;
}

.footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include composite-var($fields, 'hint', $size);
      @include composite-var($footer-typography, $size);
    }
  }

  &[data-reverse] {
    justify-content: flex-end;
  }
}

.hintLayout {
  @include composite-var($fields-hint-hint-layout);

  display: inline-flex;
  align-items: center;
}

.hint {
  display: grid;
  flex-grow: 1;

  &[data-validation="default"] {
    color: simple-var($sys-neutral-text-light);
  }

  &[data-validation="error"] {
    color: simple-var($sys-red-text-main);
  }

  &[data-validation="warning"] {
    color: simple-var($sys-yellow-text-main);
  }

  &[data-validation="success"] {
    color: simple-var($sys-green-text-main);
  }
}

.icon {
  flex-shrink: 0;
  box-sizing: content-box;
  color: simple-var($sys-neutral-text-light);
}

.hintIcon {
  flex-shrink: 0;
  box-sizing: content-box;

  &[data-validation="default"] {
    color: simple-var($sys-neutral-text-light);
  }

  &[data-validation="error"] {
    color: simple-var($sys-red-accent-default);
  }

  &[data-validation="warning"] {
    color: simple-var($sys-yellow-accent-default);
  }

  &[data-validation="success"] {
    color: simple-var($sys-green-accent-default);
  }
}

.counterLimit {
  > span {
  &[data-validation="default"] {
    color: simple-var($sys-neutral-text-light);
  }

  &[data-limit-exceeded],
  &[data-validation="error"] {
    color: simple-var($sys-red-text-light);
  }

  &[data-validation="warning"] {
    color: simple-var($sys-yellow-text-light);
  }

  &[data-validation="success"] {
    color: simple-var($sys-green-text-light);
  }}
}

.counterCurrentValue {
  &[data-limit-exceeded] {
    &[data-validation="default"] {
      color: simple-var($sys-neutral-text-main);
    }
    &[data-validation="error"] {
      color: simple-var($sys-red-text-main);
    }

    &[data-validation="warning"] {
      color: simple-var($sys-yellow-text-main);
    }

    &[data-validation="success"] {
      color: simple-var($sys-green-text-light);
    }
  }
}