@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.story {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: styles-theme-variables.simple-var(
    styles-theme-variables.$theme-variables,
    'sys',
    'neutral',
    'background1-level'
  );
}
