@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-tree' as tree;
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element' as element;

.treeNode {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
}

.treeNodeIcon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  color: tree.$sys-neutral-text-support;

  svg {
    width: element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
    height: element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
  }
}

.treeNodeTitle {
  @include tree.composite-var(tree.$tree-item-content-wrap);

  display: flex;
  flex-grow: 1;
  align-items: center;

  box-sizing: border-box;
  min-width: tree.$size-tree-item-wrap;

  color: tree.$sys-neutral-text-main;
}

.treeNodeActions {
  display: flex;
  visibility: hidden;

  &:focus-visible, &[data-focused] {
    visibility: visible;
  }
}

.treeNodeContent {
  @include tree.composite-var(tree.$tree-item-content-layout);

  cursor: pointer;

  position: relative;

  display: flex;
  align-items: flex-start;

  box-sizing: border-box;
  width: 100%;

  &::before {
    pointer-events: none;
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    opacity: 0;
    background-color: tree.$sys-neutral-accent-default;
    border-radius: inherit;
  }

  &:hover, &:focus-visible, &[data-droplist-active] {
    &::before {
      opacity: tree.$opacity-a008;
    }

    .treeNodeActions {
      visibility: visible;
    }
  }

  &:focus-visible {
    @include tree.outline-inside-var(element.$container-focused-s);

    outline-color: tree.$sys-available-complementary;
  }

  &[data-multiselect] {
    cursor: default;
  }

  &[aria-disabled='true'] {
    cursor: not-allowed;

    &::before {
      display: none;
    }

    .treeNodeTitle, .treeNodeIcon {
      color: tree.$sys-neutral-text-disabled;
    }
  }

  &[aria-selected='true']:not([data-multiselect]) {
    &::before {
      opacity: tree.$opacity-a008;
      background-color: tree.$sys-primary-accent-default;
    }

    &:hover {
      &::before {
        opacity: tree.$opacity-a016;
      }
    }
  }
}

.treeNodeCheckboxWrap {
  @include tree.composite-var(tree.$tree-item-toggle-wrap);

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

.treeNodeExpandButton {
  @include tree.composite-var(tree.$tree-item-expand-wrap);

  box-sizing: border-box;

  svg {
    transition: transform 0.2s ease;
  }

  &[data-expanded] {
    svg {
      transform: rotate(90deg);
    }
  }
}

.treeNodeExpandButtonWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-self: stretch;

  min-width: tree.$size-button-xs;
}

.treeNodeLink {
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
}