@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-card';

.wrapper {
  @include styles-tokens-card.composite-var(styles-tokens-card.$card-dimension);

  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
  box-sizing: border-box;
}

.valueContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  box-sizing: border-box;
}

.currentValue {
  color: styles-tokens-card.$sys-neutral-text-main;
}

.oldValue {
  color: styles-tokens-card.$sys-neutral-text-light;
}

.dimension {
  color: styles-tokens-card.$sys-neutral-text-light;
}