@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-card';

.wrapper {
  @include composite-var($card-dimension);

  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
  box-sizing: border-box;
}

.valueContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;

  box-sizing: border-box;
}

.currentValue {
  color: var($sys-neutral-text-main);
}

.oldValue {
  color: var($sys-neutral-text-light);
}

.dimension {
  color: var($sys-neutral-text-light);
}