.text1Line {
  overflow: hidden;
  display: block;

  max-width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.text2AndMoreLines {
  overflow: hidden;
  display: -webkit-box;

  max-width: 100%;
  margin: 0;

  text-overflow: ellipsis;
  word-break: initial;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.tooltipTrigger {
  display: grid;
}