@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-card';

$sizes:  's', 'm', 'l';

.img {
  overflow: hidden;
  flex-shrink: 0;

  box-sizing: border-box;

  object-fit: cover;
  border-color: styles-tokens-card.$sys-neutral-decor-disabled;
  border-style: solid;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-card.composite-var(styles-tokens-card.$card, 'picture', $size);
    }
  }
}