@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-carousel';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.control {
  @include styles-tokens-carousel.composite-var(styles-tokens-carousel.$carousel-control-container);

  cursor: pointer;

  position: absolute;
  top: 50%;
  left: calc(styles-tokens-carousel.$size-carousel-control-wrap-width - styles-tokens-carousel.$size-carousel-control-container);
  transform: translateY(-50%);

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  color: styles-tokens-carousel.$sys-neutral-text-light;

  background-color: styles-tokens-carousel.$sys-neutral-background1-level;
  border-color: transparent;
  border-style: solid;
  outline-color: transparent;
  box-shadow: styles-tokens-carousel.$box-shadow-elevation-level3;

  &:hover, &:focus-visible {
    color: styles-tokens-carousel.$sys-neutral-text-main;
  }

  &:hover {
    box-shadow: styles-tokens-carousel.$box-shadow-elevation-level4;
  }

  &:focus-visible {
    @include styles-tokens-carousel.outline-var(styles-tokens-element.$container-focused-s);

    border-color: styles-tokens-carousel.$sys-available-complementary;
    outline-color: styles-tokens-carousel.$sys-available-on-complementary;
    box-shadow: none;
  }

  &[data-variant='next'] {
    right: calc(styles-tokens-carousel.$size-carousel-control-wrap-width - styles-tokens-carousel.$size-carousel-control-container);
    left: auto;
    &:focus-visible {
      outline-offset: styles-tokens-carousel.$dimension-025m;
    }

    .icon {
      transform: rotate(180deg);
    }
  }
}