@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-fields';

$sizes: 's', 'm', 'l';
$containerVariant: 'single-line-container';
$icons-sizes: (
  's': styles-tokens-element.$icon-xs,
  'm': styles-tokens-element.$icon-s,
  'l': styles-tokens-element.$icon-s,
);

$base-min-width: 4px;

.triggerClassName {
  --offset: #{styles-tokens-element.$space-drop-list-drop-offset};

  width: 100%;
}

.contentWrapper {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

.tagContainer {
  /* stylelint-disable-next-line declaration-no-important */
  height: auto !important;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-element.composite-var(styles-tokens-fields.$fields, 'select-multiple', $size);

      .contentWrapper {
        gap: styles-tokens-element.simple-var(styles-tokens-fields.$fields, 'select-multiple', $size, 'gap');
      }
    }
  }
}

.container {
  position: relative;
  flex: 1 1 0;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      .inputPlug {
        @include styles-tokens-element.composite-var(styles-tokens-element.$theme-variables, 'sans', 'body', $size);
      }

      .arrowIcon {
        width: styles-tokens-element.simple-var($icons-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
        height: styles-tokens-element.simple-var($icons-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
        color: styles-tokens-element.$sys-neutral-text-light;
      }

      &[data-variant='#{$containerVariant}'] {
        .displayValue {
          $button-width: styles-tokens-element.simple-var($icons-sizes, $size);
          $postfix-width: calc(var(#{styles-tokens-element.$space-fields-postfix-gap}) + $button-width * 2);
          $margin-right: calc(
            #{styles-tokens-element.simple-var(styles-tokens-fields.$fields, $containerVariant, $size, 'padding-right')} + #{styles-tokens-element.simple-var(styles-tokens-fields.$fields, $containerVariant, $size, 'gap')} + #{$postfix-width}
          );

          width: calc(100% - $margin-right);
          margin-right: $margin-right;
          padding-left: styles-tokens-element.simple-var(styles-tokens-fields.$fields, $containerVariant, $size, 'padding-left');
          border-radius: styles-tokens-element.simple-var(styles-tokens-fields.$fields, $containerVariant, $size, 'border-radius');
        }
      }
    }
  }

  &:hover,
  &:focus-within,
  &[data-focused] {
    .arrowIcon {
      color: styles-tokens-element.$sys-neutral-text-support;
    }
  }

  &[data-disabled],
  &[data-readonly] {
    .arrowIcon {
      color: styles-tokens-element.$sys-neutral-text-disabled;
    }
  }
}

.inputPlug {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: fit-content;
  max-width: 100%;
  height: 0;
}

.inputWrapper {
  position: relative;

  display: inline-flex;
  flex: 1;

  min-width: $base-min-width;

  color: transparent;

  &[data-searchable='false'] {
    width: 0;
    min-width: 0;
    max-width: 0;
  }
}

.postfix {
  display: inline-flex;
  flex-shrink: 0;
  gap: styles-tokens-element.$space-fields-postfix-gap;
}

input.readonlyCursor {
  cursor: pointer;
  caret-color: transparent;
}
