@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';
@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-fields';

$sizes: 's', 'm', 'l';
$containerVariant: 'single-line-container';
$icons-sizes: (
  's': $icon-xs,
  'm': $icon-s,
  'l': $icon-s
);

.triggerClassName {
  --offset: #{var($space-drop-list-drop-offset)};
  
  display: block;
  width: 100%;
}


.scrollContainerS {
  max-height: 256px;
}

.scrollContainerM {
  max-height: 320px;
}

.scrollContainerL {
  max-height: 384px;
}

.displayValue {
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  display: flex;
  align-items: center;

  box-sizing: border-box;
  height: 100%;

  background-color: inherit;
  border: none;
  outline: none;
}

.container {
  @each $size in $sizes {
    &[data-size='#{$size}'] {
      .arrowIcon {
        width: simple-var($icons-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
        height: simple-var($icons-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
        color: var($sys-neutral-text-light);
      }

      &[data-variant='#{$containerVariant}'] {
        .displayValue {
          $button-width: simple-var($icons-sizes, $size);
          $postfix-width: calc(var(#{$space-fields-postfix-gap}) + $button-width * 2);
          $margin-right: calc(#{simple-var($fields, $containerVariant, $size, 'padding-right')} + #{simple-var($fields, $containerVariant, $size, 'gap')} + #{$postfix-width});

          width: calc(100% - $margin-right);
          margin-right: $margin-right;
          padding-left: simple-var($fields, $containerVariant, $size, 'padding-left');
          border-radius: simple-var($fields, $containerVariant, $size, 'border-radius');
        }
      }
    }
  }

  &:hover, &:focus-within, &[data-focused] {
    .arrowIcon {
      color: var($sys-neutral-text-support);
    }
  }

  &[data-disabled], &[data-readonly] {
    .arrowIcon {
      color: var($sys-neutral-text-disabled);
    }
  }
}
