@import "@sbercloud/figma-tokens/build/scss/styles-theme-variables";

.wrapper {
  padding: 16px;
  background: $sys-neutral-background1-level;
  border: 1px solid $sys-neutral-decor-default;

  overflow: hidden;
  resize: horizontal;

  &[data-size='s'] {
    width: 256px;
  }

  &[data-size='m'] {
    width: 280px;
  }

  &[data-size='l'] {
    width: 304px;
  }
}