@import '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.title {
  margin-bottom: 16px;
}

.description {
  max-width: 473px;
  margin-bottom: 48px;
  color: $sys-neutral-text-support;
}

.offset {
  margin-bottom: 16px;
}

.table {
  display: grid;
  grid-template-columns: repeat(22, max-content);
  flex-direction: column;
  width: max-content;
}

.cell {
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  width: 50px;
  margin-bottom: 16px;
}

.firstCell {
  justify-content: flex-end;
  padding-right: 8px;
}

.lastCell {
  justify-content: flex-start;
  padding-left: 8px;
}
