@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

$duration: 300ms;

.accordion {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: gap $duration;

  &::-webkit-scrollbar {
    width: 0;
  }

  &[aria-expanded='false'] {
    gap: 0;
  }
}

.contentWrapper {
  box-sizing: border-box;
  width: 100%;

  &[aria-hidden='false'] {
    > div[data-content] {
      display: block;
    }
  }
}

.content {
  position: relative;
  display: none;
  box-sizing: border-box;
  width: 100%;
}
