@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-pagination';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

$sizes: 'xs', 's';

$typography: (
  'xs': styles-tokens-pagination.$sans-label-s,
  's': styles-tokens-pagination.$sans-label-l,
);

.pageButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;

  color: styles-tokens-pagination.$sys-neutral-accent-default;
  text-decoration: none;
  text-transform: none;

  background-color: transparent;
  border: 0 solid transparent;
  outline: 0;
  outline-offset: 0;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-pagination.composite-var(styles-tokens-pagination.$pagination, 'page-button', 'container', $size);
      @include styles-tokens-pagination.composite-var(styles-tokens-pagination.simple-var($typography, $size));
    }
  }

  &:hover {
    color: styles-tokens-pagination.$sys-neutral-text-main;
    background-color: styles-tokens-pagination.$sys-neutral-decor-hovered;
  }

  &:focus-visible {
    @include styles-tokens-pagination.outline-var(styles-tokens-element.$container-focused-s);

    color: styles-tokens-pagination.$sys-neutral-text-main;
    background-color: styles-tokens-pagination.$sys-neutral-decor-hovered;
    outline-color: styles-tokens-pagination.$sys-available-complementary;
  }

  &:active {
    color: styles-tokens-pagination.$sys-neutral-text-main;
    background-color: styles-tokens-pagination.$sys-neutral-decor-activated;
  }

  &[data-activated] {
    color: styles-tokens-pagination.$sys-primary-text-support;
    background-color: styles-tokens-pagination.$sys-primary-decor-default;

    &:hover {
      color: styles-tokens-pagination.$sys-primary-text-support;
      background-color: styles-tokens-pagination.$sys-primary-decor-default;
    }

    &:focus-visible {
      color: styles-tokens-pagination.$sys-primary-text-support;
      background-color: styles-tokens-pagination.$sys-primary-decor-hovered;
    }

    &:active {
      color: styles-tokens-pagination.$sys-primary-text-support;
      background-color: styles-tokens-pagination.$sys-primary-decor-default;
    }
  }
}
