@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-pagination';
@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.pageButton {
  @include composite-var($pagination-page-button-container);
  @include composite-var($sans-label-l);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-width: $size-pagination-page-button-mininal-width;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;

  color: $sys-neutral-accent-default;
  text-decoration: none;
  text-transform: none;

  background-color: transparent;
  border: 0 solid transparent;
  outline: 0;
  outline-offset: 0;

  &:hover {
    color: $sys-neutral-text-main;
    background-color: $sys-neutral-decor-hovered;
  }

  &:focus-visible {
    @include outline-var($container-focused-s);

    color: $sys-neutral-text-main;
    background-color: $sys-neutral-decor-hovered;
    outline-color: $sys-available-complementary;
  }

  &:active {
    color: $sys-primary-on-accent;
    background-color: $sys-primary-accent-pressed;
  }

  &[data-activated] {
    color: $sys-primary-on-accent;
    background-color: $sys-primary-accent-default;

    &:hover {
      color: $sys-primary-on-accent;
      background-color: $sys-primary-accent-hovered;
    }

    &:focus-visible {
      color: $sys-primary-on-accent;
      background-color: $sys-primary-accent-hovered;
    }

    &:active {
      color: $sys-primary-on-accent;
      background-color: $sys-primary-accent-pressed;
    }
  }
}
