@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-table';

.tableEmptyStateWrapper {
  display: flex;
  flex-direction: column;
  gap: $dimension-3m;
  align-items: center;
  justify-content: center;

  height: calc((var(--page-size, 10) * $size-table-line-height) + $size-table-line-height);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}