@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.story {
  resize: both;

  overflow: hidden;

  box-sizing: border-box;
  width: fit-content;

  background: styles-theme-variables.$sys-neutral-background1-level;
  border: 1px solid styles-theme-variables.$sys-neutral-decor-default;
}

.scroll_s {
  width: 363px;
  height: 307px;
}

.scroll_m {
  width: 443px;
  height: 387px;
}

.scroll_l {
  width: 523px;
  height: 459px;
}

.valueHolder {
  height: 1px;
  opacity: 0;
}
