@import '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.story {
  resize: both;

  overflow: hidden;

  width: fit-content;
  padding: 2rem;

  background-color: simple-var($sys-neutral-background1-level);
}

.scroll_s {
  width: 260px;
  height: 266px;
}

.scroll_m {
  width: 304px;
  height: 328px;
}

.scroll_l {
  width: 350px;
  height: 366px;
}

.valueHolder {
  height: 1px;
  opacity: 0;
}
