@import '@sbercloud/figma-tokens/build/scss/styles-theme-variables';

.tableCell {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px;

  font-family: $sans-display-m-font-family;

  border: 1px solid $sys-neutral-decor-disabled;
}

.tableWrapper {
  overflow: auto;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;

  background-color: $sys-neutral-background1-level;
  border: 1px solid $sys-neutral-decor-disabled;
}

.tableColumn {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.controlledWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: max-content;
  height: 64px;
  margin-bottom: 16px;
  padding: 0 24px;

  background-color: $sys-neutral-background1-level;
  border: 1px solid $sys-neutral-decor-disabled;
  border-radius: $dimension-050m;
}
