@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-accordion';

.container {
  @include composite-var($collapse-block-container-secondary);

  box-sizing: border-box;
  max-width: 100%;

  border-color: $sys-neutral-decor-default;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;

  &:hover {
    border-color: $sys-neutral-accent-hovered;
  }
} 