@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-card';

$sizes:  'm', 'l';

.titleLayout {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  
  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include composite-var($card, 'content', $size, 'header');
    }
  }
}

.contentLayout {
  overflow: hidden;
  display: block;
  max-width: 100%;
}

.title {
  display: block;
  max-width: 100%;
  color: $sys-neutral-text-main;
}

.metadata {
  max-width: 100%;
  color: $sys-neutral-text-light;
}

.description {
  max-width: 100%;
  color: $sys-neutral-text-support;
}

