@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-notification-notificationPanel';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.notificationPanelHeader {
  @include styles-tokens-notification-notificationPanel.composite-var(styles-tokens-notification-notificationPanel.$notification-panel-header-container);

  position: relative;

  display: flex;
  flex-direction: column;

  background-color: styles-tokens-notification-notificationPanel.$sys-neutral-background2-level;
  border-bottom-color: styles-tokens-notification-notificationPanel.$sys-neutral-decor-default;
  border-bottom-style: solid;
}
.notificationPanelSegments {
  @include styles-tokens-notification-notificationPanel.composite-var(styles-tokens-notification-notificationPanel.$notification-panel-header-chips);

  display: flex;
  align-items: center;
}

.notificationPanelHeadline {
  @include styles-tokens-notification-notificationPanel.composite-var(styles-tokens-notification-notificationPanel.$notification-panel-header-headline);

  display: flex;
  align-items: center;
  color: styles-tokens-notification-notificationPanel.$sys-neutral-text-main;
}

.notificationPanelTitle {
  flex: 1 1 auto;
  min-width: 0;
}

.notificationPanelBody {
  flex: 1 1 auto;
  min-height: 0;
}

.notificationPanelCard {
  &:last-of-type {
    border-bottom: none;
  }
}

.notificationPanelFooterButton {
  @include styles-tokens-notification-notificationPanel.composite-var(styles-tokens-notification-notificationPanel.$notification-panel-button-container);

  cursor: pointer;

  flex-shrink: 0;

  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

  color: styles-tokens-notification-notificationPanel.$sys-neutral-text-light;

  background-color: styles-tokens-notification-notificationPanel.$sys-neutral-background2-level;
  border-color: styles-tokens-notification-notificationPanel.$sys-neutral-decor-default;
  border-top-style: solid;
  border-right: none;
  border-bottom: none;
  border-left: none;
  outline: 0;
  outline-offset: 0;

  &:hover {
    color: styles-tokens-notification-notificationPanel.$sys-neutral-text-support;
  }

  &:focus-visible {
    @include styles-tokens-notification-notificationPanel.outline-inside-var(styles-tokens-element.$container-focused-s);

    color: styles-tokens-notification-notificationPanel.$sys-neutral-text-support;
    border-color: transparent;
    outline-color: styles-tokens-notification-notificationPanel.$sys-available-complementary;
  }

  &:active {
    color: styles-tokens-notification-notificationPanel.$sys-neutral-text-main;
    border-color: styles-tokens-notification-notificationPanel.$sys-neutral-decor-default;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background-color: styles-tokens-notification-notificationPanel.$sys-neutral-background2-level;
}

.scrollStub {
  height: calc(styles-tokens-notification-notificationPanel.$dimension-025m / 2);
  margin-top: calc(styles-tokens-notification-notificationPanel.$dimension-025m / -2);
  background: transparent;
}

.notificationPanelHeaderActions {
  display: flex;
  column-gap: styles-tokens-notification-notificationPanel.$dimension-1m;
  align-items: center;
}