@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-markdown' as stm;

.wrapper {
  @include stm.composite-var(stm.$markdown-syntax-code-editor);

  box-sizing: border-box;
  max-height: 241px;
}

.code {
  @include stm.composite-var(stm.$markdown-inline-code-container);
  @include stm.composite-var(stm.$mono-body-s);

  color: stm.$sys-neutral-text-support;
  text-shadow: none;
  background-color: stm.$sys-neutral-background;
}
