@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-markdown';

.wrapper {
  @include composite-var($markdown-syntax-code-editor);

  display: flex;
  max-height: 200px;
}

.code {
  @include composite-var($markdown-inline-code-container);
  @include composite-var($mono-body-s);

  color: $sys-neutral-text-support;
  text-shadow: none;
  background-color: $sys-neutral-background;
}
