@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-chips-chipAssist';
@use '../../styles.module';

$sizes: 'xs', 's', 'm', 'l';

$typography: (
  'xs': styles-tokens-chips-chipAssist.$sans-label-s,
  's': styles-tokens-chips-chipAssist.$sans-label-m,
  'm': styles-tokens-chips-chipAssist.$sans-label-l,
  'l': styles-tokens-chips-chipAssist.$sans-label-l,
);

.assistChip {
  @include styles.chip-defaults;
  @include styles.chip-anatomy-styles(styles-tokens-chips-chipAssist.$chip-assist, $sizes, $typography);

  color: styles-tokens-chips-chipAssist.$sys-neutral-text-support;
  background-color: styles-tokens-chips-chipAssist.$sys-neutral-background1-level;
  border-color: styles-tokens-chips-chipAssist.$sys-neutral-decor-default;

  .icon {
    color: styles-tokens-chips-chipAssist.$sys-neutral-text-light;
  }

  &:hover {
    color: styles-tokens-chips-chipAssist.$sys-neutral-text-main;
    background-color: styles-tokens-chips-chipAssist.$sys-neutral-background2-level;
    border-color: styles-tokens-chips-chipAssist.$sys-neutral-decor-hovered;
  }

  &:focus-visible {
    @include styles.chip-outline;

    color: styles-tokens-chips-chipAssist.$sys-neutral-text-main;
    background-color: styles-tokens-chips-chipAssist.$sys-neutral-background2-level;
    border-color: styles-tokens-chips-chipAssist.$sys-neutral-decor-hovered;
  }

  &:active {
    color: styles-tokens-chips-chipAssist.$sys-neutral-text-main;
    background-color: styles-tokens-chips-chipAssist.$sys-neutral-background;
    border-color: styles-tokens-chips-chipAssist.$sys-neutral-decor-activated;
  }

  &:disabled {
    cursor: not-allowed;
    color: styles-tokens-chips-chipAssist.$sys-neutral-text-light;
    background-color: styles-tokens-chips-chipAssist.$sys-neutral-background;
    border-color: styles-tokens-chips-chipAssist.$sys-neutral-decor-hovered;
  }

  &[data-loading] {
    @include styles.chip-loading-state(styles-tokens-chips-chipAssist.$chip-assist, '&[data-variant="label-only"]', label);

    color: styles-tokens-chips-chipAssist.$sys-neutral-text-main;
    background-color: styles-tokens-chips-chipAssist.$sys-neutral-background;
    border-color: styles-tokens-chips-chipAssist.$sys-neutral-decor-activated;
  }
}
