@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-fields';

$sizes: 's', 'm', 'l';
$padding-right: (
  's': styles-tokens-fields.$fields-buttons-s,
  'm': styles-tokens-fields.$fields-buttons-m,
  'l': styles-tokens-fields.$fields-buttons-m,
);
$scroll-bar-heights: (
  's': styles-tokens-fields.$dimension-050m,
  'm': calc(#{styles-tokens-fields.$dimension-025m} + #{styles-tokens-fields.$dimension-050m}),
  'l': styles-tokens-fields.$dimension-1m,
);
$padding-right: (
  's': styles-tokens-fields.$fields-buttons-s,
  'm': styles-tokens-fields.$fields-buttons-m,
  'l': styles-tokens-fields.$fields-buttons-m,
);
$scroll-bar-heights: (
  's': styles-tokens-fields.$dimension-050m,
  'm': calc(#{styles-tokens-fields.$dimension-025m} + #{styles-tokens-fields.$dimension-050m}),
  'l': styles-tokens-fields.$dimension-1m,
);

.container {
  --max-rows: 1000;
  --min-rows: 3;

  &[data-actions] {
    display: flex;
    flex-direction: column;
  }

  .scrollContainer {
    min-height: calc(var(--min-rows) * var(--row-height) + var(--horizontal-scroll-bar-height));
    max-height: calc(var(--max-rows) * var(--row-height) + var(--horizontal-scroll-bar-height));

    &[data-resizable] {
      height: calc(var(--min-rows) * var(--row-height) + var(--horizontal-scroll-bar-height));
    }
  }

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      --row-height: #{styles-tokens-fields.simple-var(styles-tokens-fields.$theme-variables, 'sans', 'body', $size, 'line-height')};
      --horizontal-scroll-bar-height: #{styles-tokens-fields.simple-var($scroll-bar-heights, $size)};

      .textarea {
        overflow: hidden;
        padding-right: calc(styles-tokens-fields.simple-var($padding-right, $size, 'width') + styles-tokens-fields.simple-var(styles-tokens-fields.$fields-scroll-bar-width, 'width'));
      }

      .postfix {
        position: absolute;
        top: styles-tokens-fields.simple-var(styles-tokens-fields.$fields, 'multi-line-container', $size, 'padding-top');
        right: calc(styles-tokens-fields.simple-var(styles-tokens-fields.$fields, 'multi-line-container', $size, 'padding-right') + styles-tokens-fields.simple-var(styles-tokens-fields.$fields-scroll-bar-width, 'width'));
      }
    }
  }
}
