@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.card {
  padding: 48px 8px 8px 8px;
  border: 1px solid styles-theme-variables.$sys-neutral-decor-default;
  border-radius: 16px;
}

.content {
  padding: 8px 8px 4px 8px;

  color: styles-theme-variables.$sys-neutral-text-support;

  background-color: styles-theme-variables.$sys-neutral-background1-level;
  border: 1px solid styles-theme-variables.$sys-neutral-decor-default;
  border-radius: 8px;
}

.title {
  display: block;
  margin-bottom: 4px;
}

.valueLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: styles-theme-variables.$sys-neutral-text-light;
}

.value {
  flex: 1;
  min-width: 0;
  margin-left: 4px;
  color: styles-theme-variables.$sys-neutral-text-support;
}

.divider {
  margin-bottom: 2px;
}

.description {
  min-width: 0;
  color: styles-theme-variables.$sys-neutral-text-support;
}
