@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-button-buttonOutline';
@use '../../styles.module';

$appearances: 'primary', 'neutral', 'red';
$sizes: 'xs', 's', 'm', 'l';
$variants: 'label-only', 'icon-only', 'icon-after';
$typography: (
  'xs': styles-tokens-button-buttonOutline.$sans-label-s,
  's': styles-tokens-button-buttonOutline.$sans-label-m,
  'm': styles-tokens-button-buttonOutline.$sans-label-l,
  'l': styles-tokens-button-buttonOutline.$sans-label-l,
);

@mixin button-colors-styles {
  @each $appearance in $appearances {
    &[data-appearance='#{$appearance}'] {
      @include styles.label-color(styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'accent-default'));
      @include styles.icon-fill(styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'accent-default'));

      border-color: styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'decor-default');

      @media (hover: hover) {
        &:hover {
          @include styles.label-color(styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'accent-hovered'));
          @include styles.icon-fill(styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'accent-hovered'));

          border-color: styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'decor-hovered');
        }
      }

      @media (hover: none) or (hover: hover) {
        &:focus-visible {
          @include styles.label-color(styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'accent-hovered'));
          @include styles.icon-fill(styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'accent-hovered'));

          border-color: styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'decor-hovered');
        }

        &:active {
          @include styles.label-color(styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'accent-pressed'));
          @include styles.icon-fill(styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'accent-pressed'));

          border-color: styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'decor-activated');
        }

        &[data-loading] {
          @include styles.label-color(styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'accent-pressed'));
          @include styles.icon-fill(styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'accent-pressed'));

          border-color: styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', $appearance, 'decor-activated');
        }

        &:disabled,
        &[data-disabled] {
          @include styles.label-color(styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', 'neutral', 'text-disabled'));
          @include styles.icon-fill(styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', 'neutral', 'text-disabled'));

          border-color: styles-tokens-button-buttonOutline.simple-var(styles-tokens-button-buttonOutline.$theme-variables, 'sys', 'neutral', 'decor-disabled');
        }
      }
    }
  }
}

@mixin button-outline-colors-styles {
  @each $appearance in $appearances {
    &[data-appearance='#{$appearance}'] {
      &:focus-visible {
        outline-color: styles-tokens-button-buttonOutline.$sys-available-complementary;
      }
    }
  }
}

.button {
  @include styles.button-anatomy-styles(styles-tokens-button-buttonOutline.$button-outline, $sizes, $variants, $typography);
  @include styles.loading-label-only(styles-tokens-button-buttonOutline.$button-outline);
  @include button-colors-styles;
  @include button-outline-colors-styles;
  @include styles.button-common-state;
}
