@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-button-buttonFilled';
@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';
@import '../../styles.module';

$appearances: 'primary', 'neutral', 'red';
$sizes: 'xs', 's', 'm', 'l';
$variants: 'label-only', 'icon-only', 'icon-after';
$typography: (
  'xs': $sans-label-s,
  's': $sans-label-m,
  'm': $sans-label-l,
  'l': $sans-label-l,
);

@mixin button-colors-styles {
  @each $appearance in $appearances {
    &[data-appearance='#{$appearance}'] {
      @include label-color(simple-var($theme-variables, 'sys', $appearance, 'on-accent'));
      @include icon-fill(simple-var($theme-variables, 'sys', $appearance, 'on-accent'));

      background-color: simple-var($theme-variables, 'sys', $appearance, 'accent-default');

      @media (hover: hover) {
        &:hover {
          @include label-color(simple-var($theme-variables, 'sys', $appearance, 'on-accent'));
          @include icon-fill(simple-var($theme-variables, 'sys', $appearance, 'on-accent'));

          background-color: simple-var($theme-variables, 'sys', $appearance, 'accent-hovered');
        }
      }

      @media (hover: none) or (hover: hover) {
        &:focus-visible {
          @include label-color(simple-var($theme-variables, 'sys', $appearance, 'on-accent'));
          @include icon-fill(simple-var($theme-variables, 'sys', $appearance, 'on-accent'));

          background-color: simple-var($theme-variables, 'sys', $appearance, 'accent-hovered');
        }

        &:active {
          @include label-color(simple-var($theme-variables, 'sys', $appearance, 'on-accent'));
          @include icon-fill(simple-var($theme-variables, 'sys', $appearance, 'on-accent'));

          background-color: simple-var($theme-variables, 'sys', $appearance, 'accent-pressed');
        }

        &[data-loading] {
          @include label-color(simple-var($theme-variables, 'sys', $appearance, 'on-accent'));
          @include icon-fill(simple-var($theme-variables, 'sys', $appearance, 'on-accent'));

          background-color: simple-var($theme-variables, 'sys', $appearance, 'accent-pressed');
        }

        &:disabled,
        &[data-disabled] {
          @include label-color(simple-var($theme-variables, 'sys', 'neutral', 'text-light'));
          @include icon-fill(simple-var($theme-variables, 'sys', 'neutral', 'text-light'));

          background-color: simple-var($theme-variables, 'sys', 'neutral', 'decor-disabled');
        }
      }
    }
  }
}

@mixin button-outline-colors-styles {
  @each $appearance in $appearances {
    &[data-appearance='#{$appearance}'] {
      &:focus-visible {
        outline-color: $sys-available-complementary;
      }
    }
  }
}

.button {
  @include button-anatomy-styles($button-filled, $sizes, $variants, $typography);
  @include loading-label-only($button-filled);
  @include button-colors-styles;
  @include button-outline-colors-styles;
  @include button-common-state;
}
