@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-carousel';

.wrapper {
  padding: $dimension-3m;
  background-color: $sys-neutral-background1-level;
}

.hiddenPageCounter {
  position: absolute;
  opacity: 0;
}