@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-promoTag';

$appearances: 'primary', 'red', 'orange', 'yellow', 'green', 'blue', 'violet', 'pink';

.promoTag {
  @include styles-tokens-promoTag.composite-var(styles-tokens-promoTag.$promo-tag-container);

  display: inline-flex;
  align-items: center;
  white-space: nowrap;

  @each $appearance in $appearances {
    &[data-appearance=#{$appearance}] {
      color: styles-tokens-promoTag.simple-var(styles-tokens-promoTag.$theme-variables, 'sys', $appearance, 'on-accent');
      background-color: styles-tokens-promoTag.simple-var(styles-tokens-promoTag.$theme-variables, 'sys', $appearance, 'accent-default');
    }
  }
}
