@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';

@mixin label-color($color) {
  .label {
    color: $color;
  }
}

@mixin icon-fill($color) {
  .icon {
    color: $color;
  }
}

@mixin icon-size($icon-sizes, $size) {
  .icon {
    display: inline-flex;

    svg {
      width: simple-var($icon-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
      height: simple-var($icon-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
    }
  }
}

@mixin button-anatomy-styles($button-theme, $sizes, $variants, $typography, $icon-sizes) {
  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include icon-size($icon-sizes, $size);

      .label {
        @include composite-var($typography, $size);
      }

      @each $variant in $variants {
        &[data-variant='#{$variant}'] {
          @include composite-var($button-theme, 'container', $size, $variant);
        }
      }
    }
  }
}

@mixin loading-label-only($button-theme) {
  &[data-loading][data-variant='label-only'] {
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .label {
      @include composite-var($button-theme, 'label', 'load-label-only');
    }
  }
}

@mixin button-common-state {
  &:focus-visible {
    @include outline-var($container-focused-s);

    outline-offset: var($spacing-state-focus-offset);
  }
}
