@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-calendar';

$sizes: 's', 'm', 'l';

$presets-header-typography: (
  's': styles-tokens-calendar.$sans-label-m,
  'm': styles-tokens-calendar.$sans-label-l,
  'l': styles-tokens-calendar.$sans-label-l
) ;

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;

  color: styles-tokens-calendar.$sys-neutral-text-main;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-calendar.composite-var(styles-tokens-calendar.$calendar, 'time', 'header', $size);
      @include styles-tokens-calendar.composite-var($presets-header-typography, $size);

      .title {
        @include styles-tokens-calendar.composite-var(styles-tokens-calendar.$calendar, 'time', 'header', 'lines-height', $size);
      }
    }
  }
}
