@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-searchPrivate';
@use "@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element";

$sizes: 's', 'm', 'l';

.container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  box-sizing: border-box; 

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-searchPrivate.composite-var(styles-tokens-searchPrivate.$search-private, $size);

      input {
        @include styles-tokens-searchPrivate.composite-var(styles-tokens-searchPrivate.$theme-variables, 'sans', 'body', $size);

        cursor: text;
      }

      svg {
        width: styles-tokens-element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
        height: styles-tokens-element.$icon-s !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }
}

.postfix {
  display: inline-flex;
  flex-shrink: 0;
  gap: styles-tokens-searchPrivate.$space-fields-postfix-gap;
}

.prefix {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  color: styles-tokens-searchPrivate.$sys-neutral-text-light;
}