@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.wrapper {
  resize: horizontal;

  overflow: hidden;

  box-sizing: border-box;
  width: 265px;
  padding-right: 16px;
}

.text {
  @include styles-theme-variables.composite-var(styles-theme-variables.$sans-body-m);
}
