@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-attachment';

$sizes: 's', 'm';

.composition {
  @include styles-tokens-attachment.composite-var(styles-tokens-attachment.$attachment-composition-s);

  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;

  box-sizing: content-box;
  width: 100%;
  margin: calc(0px - styles-tokens-attachment.$dimension-050m);
  padding: styles-tokens-attachment.$dimension-050m;

  text-align: center;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-attachment.composite-var(styles-tokens-attachment.$attachment, 'composition', $size);
    }
  }
}
