@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-calendar';

$sizes: 's', 'm', 'l';

.row {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-calendar.composite-var(styles-tokens-calendar.$calendar, 'container', 'header', 'weeks', $size)
    }
  }
}
