@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-markdown';

.wrapper {
  @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$markdown-syntax-table);

  border-spacing: 0;
  width: 100%;

  th, td {
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$markdown-table-cell-container);

    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    border-bottom: 1px solid styles-tokens-markdown.$sys-neutral-decor-default;
  }

  th {
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$sans-label-l);

    background-color: styles-tokens-markdown.$sys-neutral-background;
  }

  td {
    @include styles-tokens-markdown.composite-var(styles-tokens-markdown.$sans-body-m);
  }
}
