@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-markdown' as stm;

.wrapper {
  @include stm.composite-var(stm.$markdown-syntax-table);

  border-spacing: 0;
  width: 100%;

  th, td {
    @include stm.composite-var(stm.$markdown-table-cell-container);

    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    border-bottom: 1px solid stm.$sys-neutral-decor-default;
  }

  th {
    @include stm.composite-var(stm.$sans-label-l);

    background-color: stm.$sys-neutral-background;
  }

  td {
    @include stm.composite-var(stm.$sans-body-m);
  }
}
