@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-loader';

.progressBarPageContainer {
  @include styles-tokens-loader.composite-var(styles-tokens-loader.$progress-bar-page-container-single);

  position: fixed;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
}

.progressBarPageFiller {
  width: calc(var(--progress) * 100%);
  height: 100%;

  background-color: styles-tokens-loader.$sys-primary-accent-default;
  border-radius: inherit;

  transition: width var(--animation-duration);
}
