@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.wrapperResize {
  resize: horizontal;

  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 500px;
  min-width: 304px;
  padding: 20px;

  background-color: styles-theme-variables.$sys-neutral-background;
  border: 1px solid styles-theme-variables.$sys-neutral-decor-default;
  border-radius: styles-theme-variables.$dimension-050m;
}
