@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-notification-notificationPanel';

.notificationPanelDivider {
  @include styles-tokens-notification-notificationPanel.composite-var(styles-tokens-notification-notificationPanel.$notification-panel-readed-divider);

  display: flex;
  align-items: center;
  justify-content: center;

  color: styles-tokens-notification-notificationPanel.$sys-neutral-text-light;

  background-color: styles-tokens-notification-notificationPanel.$sys-neutral-background2-level;
  border-bottom-color: styles-tokens-notification-notificationPanel.$sys-neutral-decor-default;
  border-bottom-style: solid;
}
