@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables' as stv;

.container {
  display: flex;
  gap: stv.$space-notification-panel-divider-gap;
  align-items: center;
  justify-content: center;
}

.text {
  flex-grow: 0;
  flex-shrink: 0;
  color: stv.$sys-neutral-text-light;
}

.line {
  flex-grow: 1;
  flex-shrink: 1;

  background-color: stv.$sys-neutral-background2-level;
  border-bottom-color: stv.$sys-neutral-decor-default;
  border-bottom-style: solid;
}
