@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-toolbar';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';


.checkboxWrapper {
  @include styles-tokens-toolbar.composite-var(styles-tokens-toolbar.$toolbar-checkbox);

  cursor: pointer;

  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  &:focus-visible {
    @include styles-tokens-toolbar.outline-var(styles-tokens-element.$container-focused-s);

    outline-color: styles-tokens-toolbar.$sys-available-complementary;
  }
}
