@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-pagination';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.pageButtonSlider {
  @include styles-tokens-pagination.composite-var(styles-tokens-pagination.$pagination-page-button-slider-container);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  

  background-color: transparent;
  border: 0 solid transparent;
  outline: 0;
  outline-offset: 0;

  .pageButtonSliderDot {
    @include styles-tokens-pagination.composite-var(styles-tokens-pagination.$pagination-page-button-slider-dot-page-default);

    background-color: styles-tokens-pagination.$sys-neutral-decor-default;
  }

  &:hover {
    .pageButtonSliderDot {
      @include styles-tokens-pagination.composite-var(styles-tokens-pagination.$pagination-page-button-slider-dot-page-interactions);

      background-color: styles-tokens-pagination.$sys-neutral-decor-hovered;
    }
  }

  &:focus-visible {
    .pageButtonSliderDot {
      @include styles-tokens-pagination.outline-var(styles-tokens-element.$container-focused-s);
      @include styles-tokens-pagination.composite-var(styles-tokens-pagination.$pagination-page-button-slider-dot-page-interactions);

      background-color: styles-tokens-pagination.$sys-neutral-decor-hovered;
      outline-color: styles-tokens-pagination.$sys-available-complementary;
      outline-offset: styles-tokens-pagination.$spacing-state-focus-offset;
    }
  }

  &:active {
    .pageButtonSliderDot {
      @include styles-tokens-pagination.composite-var(styles-tokens-pagination.$pagination-page-button-slider-dot-page-interactions);

      background-color: styles-tokens-pagination.$sys-neutral-decor-activated;
    }
  }


  &[data-activated] {
    .pageButtonSliderDot {
      @include styles-tokens-pagination.composite-var(styles-tokens-pagination.$pagination-page-button-slider-dot-page-interactions);

      background-color: styles-tokens-pagination.$sys-primary-accent-default;
    }

    &:hover {
      .pageButtonSliderDot {
        @include styles-tokens-pagination.composite-var(styles-tokens-pagination.$pagination-page-button-slider-dot-page-interactions);

        background-color: styles-tokens-pagination.$sys-primary-accent-default;
      }
    }

    &:focus-visible {
      .pageButtonSliderDot {
        @include styles-tokens-pagination.composite-var(styles-tokens-pagination.$pagination-page-button-slider-dot-page-interactions);

        background-color: styles-tokens-pagination.$sys-primary-accent-hovered;
      }
    }

    &:active {
      .pageButtonSliderDot {
        @include styles-tokens-pagination.composite-var(styles-tokens-pagination.$pagination-page-button-slider-dot-page-interactions);

        background-color: styles-tokens-pagination.$sys-primary-accent-hovered;
      }
    }
  }
}


