@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-fields';
@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

/* stylelint-disable no-descending-specificity */

$sizes: 's', 'm', 'l';
$variants: 'single-line-container', 'multi-line-container';

.container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  border-style: solid;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include composite-var($fields, 'container', $size);

      &,
      input,
      select,
      textarea,
      span {
        @include composite-var($theme-variables, 'sans', 'body', $size);

        cursor: text;
      }

      @each $variant in $variants {
        &[data-variant='#{$variant}'] {
          @include composite-var($fields, $variant, $size);
        }
      }
    }
  }

  &[data-validation='default'] {
    background-color: simple-var($sys-neutral-background1-level);
    border-color: simple-var($sys-neutral-decor-default);

    &:hover {
      background-color: simple-var($sys-neutral-background2-level);
      border-color: simple-var($sys-primary-decor-hovered);
    }

    &:focus-within,
    &[data-focused] {
      @include outline-var($container-focused-m);

      background-color: simple-var($sys-neutral-background2-level);
      border-color: simple-var($sys-primary-accent-default);
      outline-color: simple-var($sys-primary-decor-activated);
    }
  }

  &[data-validation='error'] {
    background-color: simple-var($sys-red-background1-level);
    border-color: simple-var($sys-red-decor-default);

    &:hover {
      background-color: simple-var($sys-neutral-background2-level);
      border-color: simple-var($sys-red-decor-hovered);
    }

    &:focus-within,
    &[data-focused] {
      @include outline-var($container-focused-m);

      background-color: simple-var($sys-neutral-background2-level);
      border-color: simple-var($sys-red-accent-default);
      outline-color: simple-var($sys-red-decor-activated);
    }
  }

  &[data-validation='warning'] {
    background-color: simple-var($sys-yellow-background1-level);
    border-color: simple-var($sys-yellow-decor-default);

    &:hover {
      background-color: simple-var($sys-neutral-background2-level);
      border-color: simple-var($sys-yellow-decor-hovered);
    }

    &:focus-within,
    &[data-focused] {
      @include outline-var($container-focused-m);

      background-color: simple-var($sys-neutral-background2-level);
      border-color: simple-var($sys-yellow-accent-default);
      outline-color: simple-var($sys-yellow-decor-activated);
    }
  }

  &[data-validation='success'] {
    background-color: simple-var($sys-green-background1-level);
    border-color: simple-var($sys-green-decor-default);

    &:hover {
      background-color: simple-var($sys-neutral-background2-level);
      border-color: simple-var($sys-green-decor-hovered);
    }

    &:focus-within,
    &[data-focused] {
      @include outline-var($container-focused-m);

      background-color: simple-var($sys-neutral-background2-level);
      border-color: simple-var($sys-green-accent-default);
      outline-color: simple-var($sys-green-decor-activated);
    }
  }

  &[data-selectable] {
    &,
    input,
    select,
    textarea,
    span {
      cursor: pointer;
    }
  }

  &[data-readonly] {
    &,
    input,
    select,
    textarea,
    span {
      cursor: default;
    }

    &,
    &:hover {
      background-color: simple-var($sys-neutral-decor-disabled);
      border-color: simple-var($sys-neutral-decor-disabled);
    }

    &:focus-within,
    &[data-focused] {
      @include outline-var($container-focused-m);

      background-color: simple-var($sys-neutral-decor-disabled);
      border-color: simple-var($sys-neutral-decor-disabled);
      outline-color: simple-var($sys-primary-decor-activated);
    }
  }

  &[data-disabled] {
    &,
    input,
    select,
    textarea,
    span {
      cursor: not-allowed;
    }

    &,
    &:focus-within,
    &[data-focused],
    &:hover {
      background-color: simple-var($sys-neutral-background);
      border-color: simple-var($sys-neutral-decor-disabled);
      outline: none;
    }
  }
}

.prefix {
  display: inline-flex;
  flex-shrink: 0;
  color: $sys-neutral-text-disabled;
}

.postfix {
  display: inline-flex;
  flex-shrink: 0;
  gap: $space-fields-postfix-gap;
}
