@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-status';

$label-typography: (
  'xs': styles-tokens-status.$sans-label-s,
  's': styles-tokens-status.$sans-label-m
);
$sizes: 'xs', 's';
$appearances: 'primary', 'neutral', 'red', 'orange', 'blue', 'violet', 'pink', 'yellow', 'green';

.container {
  display: inline-flex;
  align-items: center;

  &[data-has-background] {
    @each $appearance in $appearances {
      &[data-appearance='#{$appearance}'] {
        background-color: styles-tokens-status.simple-var(styles-tokens-status.$theme-variables, 'sys', $appearance, 'decor-default');
  
        .label {
          color: styles-tokens-status.simple-var(styles-tokens-status.$theme-variables, 'sys', $appearance, 'text-support')
        }
      }
    }

    @each $size in $sizes {
      &[data-size='#{$size}'] {
        @include styles-tokens-status.composite-var(styles-tokens-status.$status, 'background-container', $size);
      }
    }
  }

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-status.composite-var(styles-tokens-status.$status, 'container', $size);

      .label {
        @include styles-tokens-status.composite-var($label-typography, $size);
      }
    }
  }
}

.label {
  color: styles-tokens-status.$sys-neutral-text-support;
}
