@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-accordion';

.headline {
  @include styles-tokens-accordion.composite-var(styles-tokens-accordion.$collapse-block-container-header-headline);

  display: flex;
  align-items: center;
  max-width: 100%;
}

.title {
  max-width: 100%;
  color: styles-tokens-accordion.$sys-neutral-text-main;
}

.subtitle {
  max-width: 100%;
  color: styles-tokens-accordion.$sys-neutral-text-support;
}