@import '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-accordion';

.headline {
  @include composite-var($collapse-block-container-header-headline);

  display: flex;
  align-items: center;
  max-width: 100%;
}

.title {
  max-width: 100%;
  color: $sys-neutral-text-main;
}

.subtitle {
  max-width: 100%;
  color: $sys-neutral-text-support;
}