@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-calendar';

$sizes: 's', 'm', 'l';

.calendarWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  box-sizing: border-box;
  width: fit-content;

  &[data-fit-to-container] {
    min-width: 100%;
    height: 100%;
  }
}

.dateWrapper {
  display: flex;
  flex-grow: 1;
}

.calendar {
  display: inline-flex;
  flex-direction: column;

  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;

  &[data-fit-to-container] {
    width: 100%;
  }
}

/**
  Сделано через отдельные классы вместо селектора &[data-size='s'] для того, чтоб иметь минимальную специфичность,
  чтоб было легко задать размер "снаружи".
*/
.calendarSizeS {
  @include styles-tokens-calendar.composite-var(styles-tokens-calendar.$calendar-container-s);
}

.calendarSizeM {
  @include styles-tokens-calendar.composite-var(styles-tokens-calendar.$calendar-container-m);
}

.calendarSizeL {
  @include styles-tokens-calendar.composite-var(styles-tokens-calendar.$calendar-container-l);
}

.dateWrapperSizeS {
  min-height: styles-tokens-calendar.simple-var(styles-tokens-calendar.$calendar-container-s, 'min-height')
}

.dateWrapperSizeM {
  min-height: styles-tokens-calendar.simple-var(styles-tokens-calendar.$calendar-container-m, 'min-height')
}

.dateWrapperSizeL {
  min-height: styles-tokens-calendar.simple-var(styles-tokens-calendar.$calendar-container-l, 'min-height')
}

.header {
  flex-grow: 0;
  flex-shrink: 0;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-calendar.composite-var(styles-tokens-calendar.$calendar, 'container', 'header', $size);
    }
  }
}

.body {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
}

.rows {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-calendar.composite-var(styles-tokens-calendar.$calendar, 'container', 'rows', $size);
    }
  }
}
