@use "@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element";
@use "@snack-uikit/figma-tokens/build/scss/components/styles-tokens-inputPrivate";

$sizes: 's', 'm';

$icon-sizes: (
  's': styles-tokens-element.$icon-xs,
  'm': styles-tokens-element.$icon-s
);

.buttonClearValue {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;

  color: styles-tokens-element.$sys-neutral-text-light;

  background-color: transparent;
  border: none;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-element.composite-var(styles-tokens-inputPrivate.$input-private, 'button-clear-value', $size);

      svg {
        width: styles-tokens-element.simple-var($icon-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
        height: styles-tokens-element.simple-var($icon-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }

  &:hover {
    cursor: pointer;
    color: styles-tokens-element.$sys-red-text-support;
  }

  &:focus-visible {
    @include styles-tokens-element.outline-var(styles-tokens-element.$container-focused-s);

    color: styles-tokens-element.$sys-red-text-support;
    outline-color: styles-tokens-element.$sys-red-accent-default;
    outline-offset: styles-tokens-element.$spacing-state-focus-offset;
  }

  &:active {
    color: styles-tokens-element.$sys-red-text-main;
  }

  &[data-disabled] {
    cursor: not-allowed;
    color: styles-tokens-element.$sys-neutral-text-disabled;
  }
}