@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-popover';

.popoverContainer {
  @include styles-tokens-popover.composite-var(styles-tokens-popover.$popover-container);
  @include styles-tokens-popover.composite-var(styles-tokens-popover.$sans-body-s);

  overflow: hidden;

  box-sizing: border-box;

  word-wrap: break-word;

  background-color: styles-tokens-popover.$sys-neutral-background2-level;
  box-shadow: styles-tokens-popover.$box-shadow-elevation-level3;

  &[data-disable-max-width='true'] {
    max-width: calc(100vw - styles-tokens-popover.$dimension-2m);
  }
}

.popoverArrowElement {
  @include styles-tokens-popover.composite-var(styles-tokens-popover.$popover-pointer-arrow);

  fill: currentColor;
}

.popoverArrowContainer {
  @include styles-tokens-popover.composite-var(styles-tokens-popover.$popover-popover-pointer);

  position: absolute;

  display: flex;

  padding-top: 0;
  padding-bottom: 0;

  color: styles-tokens-popover.$sys-neutral-background2-level;
}
