@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-attachment';

$sizes: 's', 'm';

$title: (
  's': styles-tokens-attachment.$sans-label-m,
  'm': styles-tokens-attachment.$sans-label-l,
);

$description: (
  's': styles-tokens-attachment.$sans-body-s,
  'm': styles-tokens-attachment.$sans-body-m,
);

.content {
  overflow: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  &[data-align='left'] {
    text-align: left;
  }

  &[data-align='center'] {
    max-width: 100%;
    text-align: center;
  }

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      .title {
        @include styles-tokens-attachment.composite-var($title, $size);
      }

      .description,
      .error {
        @include styles-tokens-attachment.composite-var($description, $size);
      }
    }
  }
}

.title,
.description,
.error {
  overflow: hidden;
  width: 100%;
}

.title {
  color: styles-tokens-attachment.$sys-neutral-text-main;
}

.description {
  color: styles-tokens-attachment.$sys-neutral-text-light;
}

.error {
  color: styles-tokens-attachment.$sys-red-text-support;
}
