@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-table' as table;

.treeLine {
  width: 1px;
  height: 100%;
  opacity: 0;

  &[data-visible] {
    opacity: 1;
    background-color: table.$sys-neutral-decor-default;
  }

  &[data-half-height] {
    align-self: start;
    height: 50%;
  }

  &[data-horizontal] {
    width: calc(#{table.$size-markdown-table-cell-height} / 2);
    height: 1px
  }
}
