@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.pageWrapper {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  resize: horizontal;

  overflow: auto;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 160px;
  padding: 0 24px;

  background-color: styles-theme-variables.$sys-neutral-background1-level;
  border: 1px solid styles-theme-variables.$sys-neutral-decor-default;
  border-radius: styles-theme-variables.$dimension-050m;
}

$border-width: 0.5px;

.tableHorizontalGroup {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.table {
  display: inline-grid;
  grid-template-columns: repeat(2, max-content);

  width: max-content;

  background-color: styles-theme-variables.$sys-neutral-background1-level;
  border: $border-width solid styles-theme-variables.$sys-neutral-decor-default;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;

  border: $border-width solid styles-theme-variables.$sys-neutral-decor-disabled;
}

.headerCell {
  min-width: 60px;
  text-transform: uppercase;
}

.customButton {
  width: max-content;
}

.droplist {
  min-width: 200px;
}

.chipChoiceRowWrapper {
  resize: horizontal;
  overflow: auto;
  width: 1000px;
  min-width: 360px;
}