@use "@snack-uikit/figma-tokens/build/scss/components/styles-tokens-calendar";
@use "@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element";

$sizes: 's', 'm', 'l';

$typography: (
  's': styles-tokens-calendar.$sans-label-s,
  'm': styles-tokens-calendar.$sans-label-m,
  'l': styles-tokens-calendar.$sans-label-l,
);

.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: styles-tokens-calendar.simple-var(styles-tokens-calendar.$sys-neutral-text-main);

  background: none;
  border: none;

  &:not(:disabled) {
    cursor: pointer;

    &:hover,
    &:focus-visible {
      background-color: styles-tokens-calendar.color-on-background-with-opacity(styles-tokens-calendar.$sys-neutral-accent-default, styles-tokens-calendar.$sys-neutral-background2-level, styles-tokens-calendar.$opacity-a008);
    }

    &:focus-visible {
      @include styles-tokens-calendar.outline-inside-var(styles-tokens-element.$container-focused-s);

      outline-color: styles-tokens-calendar.simple-var(styles-tokens-calendar.$sys-available-complementary);
    }
  }

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-calendar.composite-var(styles-tokens-calendar.$calendar, 'button', $size);
      @include styles-tokens-calendar.composite-var($typography, $size);
    }
  }
}

.icon {
  display: inline-flex;
  color: styles-tokens-calendar.$sys-neutral-text-light;
}
