@import '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.button {
  width: 300px;
  max-width: 100%;
}

.skeleton {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0 1em;
}

.pageWrapper {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  width: max-content;
  height: 160px;
  padding: 0 24px;

  background-color: $sys-neutral-background2-level;
  border: 1px solid $sys-neutral-decor-default;
  border-radius: $dimension-050m;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

$border-width: 0.5px;

.table {
  display: inline-grid;
  grid-template-columns: 60px repeat(var(--columns), 1fr);

  width: fit-content;

  background-color: $sys-neutral-background2-level;
  border: $border-width solid $sys-neutral-decor-default;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;

  border: $border-width solid $sys-neutral-decor-disabled;
}

.headerCell {
  text-transform: uppercase;
}

.dropListItem {
  min-width: 256px;
}
