@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-popoverPrivate';

$sizes: 's', 'm', 'l';

@mixin popover-arrow-sizes {
  @each $size in $sizes {
    &[data-size='#{$size}'] {
      padding-top: simple-var($theme-variables, 'radius', 'popover-private', $size);
      padding-bottom: simple-var($theme-variables, 'radius', 'popover-private', $size);
    }
  }
}

.arrowContainer {
  @include popover-arrow-sizes;

  position: absolute;
  padding-left: simple-var($theme-variables, 'space', 'popover-pointer', 'offset');
}

.arrowElement {
  @include composite-var($popover-pointer-arrow);

  fill: currentColor;
}