@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-popoverPrivate';

.arrowContainer {
  position: absolute;
  display: flex;
  padding-left: $space-popover-pointer-offset;
}

.arrowElement {
  @include composite-var($popover-pointer-arrow);

  fill: currentColor;
}
