@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-dropZone';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.hidden {
  display: none;
}

.container {
  @include styles-tokens-dropZone.composite-var(styles-tokens-dropZone.$drop-zone-container-single);
  @include styles-tokens-dropZone.composite-var(styles-tokens-dropZone.$drop-zone-content-layout-single);

  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  min-width: 174px;
  min-height: 80px;

  background-color: styles-tokens-dropZone.$sys-neutral-background2-level;
  border-color: styles-tokens-dropZone.$sys-neutral-decor-default;

  .title {
    @include styles-tokens-dropZone.composite-var(styles-tokens-dropZone.$sans-title-s);

    margin: 0;
    color: styles-tokens-dropZone.$sys-neutral-text-main;
  }

  .description {
    @include styles-tokens-dropZone.composite-var(styles-tokens-dropZone.$sans-body-s);

    color: styles-tokens-dropZone.$sys-neutral-text-light;
  }

  &:hover {
    border-color: styles-tokens-dropZone.$sys-primary-accent-hovered;

    .description {
      color: styles-tokens-dropZone.$sys-neutral-text-support;
    }
  }

  &:focus-visible {
    @include styles-tokens-dropZone.outline-var(styles-tokens-element.$container-focused-s);

    outline-color: styles-tokens-dropZone.$sys-primary-accent-default;
    outline-offset: styles-tokens-dropZone.$spacing-state-focus-offset;

    .description {
      color: styles-tokens-dropZone.$sys-neutral-text-support;
    }
  }

  &[data-over] {
    background-color: styles-tokens-dropZone.$sys-primary-background;
    border-color: styles-tokens-dropZone.$sys-primary-accent-hovered;

    .title {
      color: styles-tokens-dropZone.$sys-primary-text-main;
    }

    .description {
      color: styles-tokens-dropZone.$sys-primary-text-support;
    }
  }

  &[data-disabled] {
    cursor: not-allowed;
    background-color: styles-tokens-dropZone.$sys-neutral-background;
    border-color: styles-tokens-dropZone.$sys-neutral-decor-disabled;

    .title {
      color: styles-tokens-dropZone.$sys-neutral-text-light;
    }

    .description {
      color: styles-tokens-dropZone.$sys-neutral-text-disabled;
    }
  }
}