@import '../../../../../tokens/build/themes/styles-green';
@import '../../../../../tokens/build/themes/styles-purple';
@import '../../../../../tokens/build/themes/styles-greenDark';
@import '../../../../../tokens/build/themes/styles-purpleDark';
@import '../../../../../tokens/build/components/styles-tokens-components-button-button_filled';
@import '../../../../../tokens/build/components/styles-tokens-components-button-button_outline';
@import '../../../../../tokens/build/components/styles-tokens-components-button-button_light';
@import '../../../../../tokens/build/components/styles-tokens-components-button-button_support';
@import '../../../../../tokens/build/components/styles-tokens-components-button-button_tonal';

.styledButtonPrivate {
  box-sizing: border-box;
  border: 0 solid transparent;
  background-color: transparent;
  margin: 0;
  outline: 0;
  cursor: pointer;
  text-transform: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-width: max-content;

  &[data-variant='filled'] {
    @include button-filled-primary-size-s-label-only-enabled;

    & label {
      @include button-filled-primary-size-s-label-enabled;
    }

    &:hover {
      @include button-filled-primary-size-s-label-only-hovered;

      & label {
        @include button-filled-primary-size-s-label-hovered;
      }
    }

    &:active {
      @include button-filled-primary-size-s-label-only-pressed;

      & label {
        @include button-filled-primary-size-s-label-pressed;
      }
    }

    &:disabled,
    &[disabled] {
      @include button-filled-primary-size-s-label-only-disabled;

      & label {
        @include button-filled-primary-size-s-label-disabled;
      }
    }
  }

  &[data-variant='outline'] {
    @include button-outline-primary-size-s-label-only-disabled;

    & label {
      @include button-outline-primary-size-s-label-enabled;
    }

    &:hover {
      @include button-outline-primary-size-s-label-only-hovered;

      & label {
        @include button-outline-primary-size-s-label-hovered;
      }
    }

    &:active {
      @include button-outline-primary-size-s-label-only-pressed;

      & label {
        @include button-outline-primary-size-s-label-pressed;
      }
    }

    &:disabled,
    &[disabled] {
      @include button-outline-primary-size-s-label-only-disabled;

      & label {
        @include button-outline-primary-size-s-label-disabled;
      }
    }
  }

  &[data-variant='light'] {
    @include button-light-primary-size-s-label-only-disabled;

    & label {
      @include button-light-primary-size-s-label-enabled;
    }

    &:hover {
      @include button-light-primary-size-s-label-only-hovered;

      & label {
        @include button-light-primary-size-s-label-hovered;
      }
    }

    &:active {
      @include button-light-primary-size-s-label-only-pressed;

      & label {
        @include button-light-primary-size-s-label-pressed;
      }
    }

    &:disabled,
    &[disabled] {
      @include button-light-primary-size-s-label-only-disabled;

      & label {
        @include button-light-primary-size-s-label-disabled;
      }
    }
  }

  &[data-variant='support'] {
    @include button-support-primary-size-s-label-only-disabled;

    & label {
      @include button-support-primary-size-s-label-enabled;
    }

    &:hover {
      @include button-support-primary-size-s-label-only-hovered;

      & label {
        @include button-support-primary-size-s-label-hovered;
      }
    }

    &:active {
      @include button-support-primary-size-s-label-only-pressed;

      & label {
        @include button-support-primary-size-s-label-pressed;
      }
    }

    &:disabled,
    &[disabled] {
      @include button-support-primary-size-s-label-only-disabled;

      & label {
        @include button-support-primary-size-s-label-disabled;
      }
    }
  }

  &[data-variant='tonal'] {
    @include button-tonal-primary-size-s-label-only-disabled;

    & label {
      @include button-tonal-primary-size-s-label-enabled;
    }

    &:hover {
      @include button-tonal-primary-size-s-label-only-hovered;

      & label {
        @include button-tonal-primary-size-s-label-hovered;
      }
    }

    &:active {
      @include button-tonal-primary-size-s-label-only-pressed;

      & label {
        @include button-tonal-primary-size-s-label-pressed;
      }
    }

    &:disabled,
    &[disabled] {
      @include button-tonal-primary-size-s-label-only-disabled;

      & label {
        @include button-tonal-primary-size-s-label-disabled;
      }
    }
  }
}

.iconWrapper {
  margin-left: 8px;
}
