@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-table' as table;

.table {
  @include table.composite-var(table.$table-table-container);

  position: relative;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 0;

  /* stylelint-disable-next-line declaration-no-important */
  overflow: hidden !important;
  display: flex;

  box-sizing: border-box;
  width: 100%;
  height: auto;

  background-color: table.$sys-neutral-background1-level;
  border-color: table.$sys-neutral-background1-level;
  border-style: solid;

  &[data-outline] {
    border-color: table.$sys-neutral-decor-default;
  }
}

.header {
  @include table.composite-var(table.$table-header);

  display: flex;
  flex-direction: column;
}

.tableContent {
  min-width: max-content;
}

.toolbar {
  flex: 1 0 auto;
}

.filtersWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: table.$dimension-1m;
  align-items: center;
  justify-content: flex-start;
}

.skeleton {
  padding: 0 table.$dimension-1m;
}

.wrapper {
  display: grid;
  grid-template-rows: minmax(auto, 100%) max-content;
  max-width: 100%;
  max-height: 100%;

  &[data-with-toolbar] {
    grid-template-rows: max-content minmax(auto, 100%) max-content;
  }
}

.scrollStub {
  height: calc(#{table.$dimension-025m} / 2);
  margin-top: calc(#{table.$dimension-025m} / -2);
  background: transparent;
}

.topRowWrapper {
  position: sticky;
  /* stylelint-disable-next-line declaration-property-value-allowed-list */
  z-index: 3;
  top: table.$size-table-line-height;

  margin-bottom: calc(-1 * #{table.$border-width-table});

  border-bottom: table.$border-width-table solid table.$sys-neutral-decor-default;
}
