@import '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

.content {
  display: flex;
  flex-direction: column;
  gap: $dimension-1m;
}

.wrapper {
  resize: horizontal;

  overflow: auto;
  display: flex;
  flex-direction: column;

  width: 400px;
  padding: $dimension-1m;
}

.customHeader {
  display: flex;
  flex-direction: column;
  gap: $dimension-1m;
}

.headline {
  display: flex;
  gap: $dimension-1m;
  align-items: center;
}