@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-pagination';

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include composite-var($pagination-container);
}
