@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-card';

.checkWrapper {
  @include styles-tokens-card.composite-var(styles-tokens-card.$card-check-badge);
  
  position: absolute;
  top: 0;
  left: 0;
}

.checkContainer {
  @include styles-tokens-card.composite-var(styles-tokens-card.$card-check);

  display: flex;
  align-items: center;
  justify-content: center;
}