@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-toaster-toasterSystemEvent';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

.buttonAction {
  @include styles-tokens-toaster-toasterSystemEvent.composite-var(styles-tokens-toaster-toasterSystemEvent.$toaster-system-event-toast-button-button-action);
  @include styles-tokens-toaster-toasterSystemEvent.composite-var(styles-tokens-toaster-toasterSystemEvent.$sans-body-m);

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin: 0;

  color: styles-tokens-toaster-toasterSystemEvent.$sys-invert-neutral-text-main;

  background-color: styles-tokens-toaster-toasterSystemEvent.$sys-invert-neutral-decor-default;
  border: none;

  &:hover,
  &:focus-visible {
    background-color: styles-tokens-toaster-toasterSystemEvent.$sys-invert-neutral-decor-hovered;
  }

  &:active {
    background-color: styles-tokens-toaster-toasterSystemEvent.$sys-invert-neutral-decor-activated;
  }

  &:focus-visible {
    @include styles-tokens-toaster-toasterSystemEvent.outline-var(styles-tokens-element.$container-focused-s);

    outline-color: styles-tokens-toaster-toasterSystemEvent.$sys-available-on-complementary;
    outline-offset: styles-tokens-toaster-toasterSystemEvent.$spacing-state-focus-offset;
  }

  &[data-critical] {
    background-color: styles-tokens-toaster-toasterSystemEvent.$sys-opacity-enabled;

    &:hover,
    &:focus-visible {
      background-color: styles-tokens-toaster-toasterSystemEvent.$sys-opacity-hovered;
    }

    &:active {
      background-color: styles-tokens-toaster-toasterSystemEvent.$sys-opacity-activated;
    }
  }
}
