@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-calendar';
@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-element';

$sizes: 's', 'm', 'l';
$typography: (
  's': styles-tokens-calendar.$sans-body-s,
  'm': styles-tokens-calendar.$sans-body-m,
  'l': styles-tokens-calendar.$sans-body-l,
);

.item {
  display: flex;
}

.label {
  @include styles-tokens-calendar.composite-var(styles-tokens-calendar.$calendar-item-label-decorator);
}

.marker {
  @include styles-tokens-calendar.composite-var(styles-tokens-calendar.$calendar-item-marker);

  background-color: styles-tokens-calendar.$sys-primary-accent-default;
}

.range,
.box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-calendar.composite-var(styles-tokens-calendar.$calendar, 'item', 'box', $size);
    }
  }
}

.range {
  &:not([data-in-range-position='out']) {
    background-color: styles-tokens-calendar.$sys-primary-decor-default;
  }

  &[data-in-range-position='in'] {
    border-radius: 0;
  }

  &[data-in-range-position='start'] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &[data-in-range-position='end'] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.button {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 0;

  color: styles-tokens-calendar.simple-var(styles-tokens-calendar.$sys-neutral-text-light);

  appearance: none;
  background-color: transparent;
  border-style: none;
  outline: none;

  &[data-is-holiday] {
    color: styles-tokens-calendar.simple-var(styles-tokens-calendar.$sys-red-text-light);
  }

  &:focus-visible {
    .box {
      @include styles-tokens-calendar.outline-inside-var(styles-tokens-element.$container-focused-s);

      outline-color: styles-tokens-calendar.simple-var(styles-tokens-calendar.$sys-available-complementary);
    }
  }

  &[data-is-in-current-level-period] {
    color: styles-tokens-calendar.simple-var(styles-tokens-calendar.$sys-neutral-text-main);

    &[data-is-holiday] {
      color: styles-tokens-calendar.simple-var(styles-tokens-calendar.$sys-red-accent-default);
    }
  }

  &[data-is-disabled] {
    cursor: not-allowed;
    color: styles-tokens-calendar.simple-var(styles-tokens-calendar.$sys-neutral-text-disabled);
    background-color: styles-tokens-calendar.$sys-neutral-background;

    .marker {
      background-color: currentColor
    }

    .box, .range {
      background-color: transparent;
    }
    
    &[data-is-holiday] {
      color: styles-tokens-calendar.simple-var(styles-tokens-calendar.$sys-red-text-disabled);
    }
  }

  &[data-is-selected] {
    color: styles-tokens-calendar.simple-var(styles-tokens-calendar.$sys-primary-on-accent);

    &[data-is-holiday] {
      color: styles-tokens-calendar.simple-var(styles-tokens-calendar.$sys-primary-on-accent)
    }

    .box {
      background-color: styles-tokens-calendar.$sys-primary-accent-default;
     }

    .marker {
      background-color: styles-tokens-calendar.$sys-primary-on-accent;
    }

    &:hover,
    &:focus-visible {
      color: styles-tokens-calendar.$sys-neutral-text-main;

      .marker {
        background-color: styles-tokens-calendar.$sys-primary-accent-default;
      }

      .box {
        background-color: styles-tokens-calendar.color-on-background-with-opacity(styles-tokens-calendar.$sys-primary-accent-default, styles-tokens-calendar.$sys-primary-decor-default, styles-tokens-calendar.$opacity-a016);
      }
    }
  }

  &:hover,
  &:focus-visible {
    &:not([data-is-selected]):not([data-is-disabled]) {
      .box {
        background-color: styles-tokens-calendar.color-on-background-with-opacity(styles-tokens-calendar.$sys-neutral-accent-default, styles-tokens-calendar.$sys-neutral-background2-level,  styles-tokens-calendar.$opacity-a016);
      }   
      
      .range {
        +.box {
          background-color: styles-tokens-calendar.color-on-background-with-opacity(styles-tokens-calendar.$sys-primary-accent-default, styles-tokens-calendar.$sys-primary-decor-default, styles-tokens-calendar.$opacity-a016);
        }
      }
    }
  }

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include styles-tokens-calendar.composite-var($typography, $size);
    }
  }
}

.content {
  position: relative;
}
