@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-toggles';
@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';

$sizes: 's', 'm';

$icon-sizes: (
  's': $icon-xs,
  'm': $icon-s,
);

.toggleLayout {
  cursor: pointer;

  position: relative;

  display: inline-flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      svg {
        width: simple-var($icon-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
        height: simple-var($icon-sizes, $size) !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }

  &[data-disabled=true] {
    cursor: not-allowed;
    color: $sys-neutral-text-disabled;
  }
}

.togglePrivate {
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  opacity: 0;

  &:disabled {
    cursor: not-allowed;
  }
}
