@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-alert';
@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-element';

$colors: 'neutral', 'primary', 'red', 'yellow', 'green';


.alert {
  @include composite-var($alert-container-container);

  display: flex;
  box-sizing: border-box;
  min-width: 256px;
  border-style: solid;

  @each $color in $colors {
    &[data-color='#{$color}'] {
      background-color: simple-var($theme-variables, 'sys', $color, 'background');
      border-color: simple-var($theme-variables, 'sys', $color, 'decor-default');
    }
   }
}

.title {
  @include composite-var($sans-title-s);

  color: var($sys-neutral-text-main);
}

.textlayout {
  @include composite-var($alert-container-text-layout);

  overflow: hidden;
}

.description {
  @include composite-var($sans-body-m);

  color: var($sys-neutral-text-support);
  word-wrap: break-word;
}

.content {
  @include composite-var($alert-container-content-layout);

  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}

.icon {
  @each $color in $colors { 
    &[data-color='#{$color}'] {
      color: simple-var($theme-variables, 'sys', $color, 'accent-default');
    }
  }  
}

.closeButton {
  @include composite-var($alert-button-button-close);

  cursor: pointer;

  box-sizing: border-box;
  margin: 0;
  margin-left: auto;
  padding: 0;

  background: none;
  border: none;

  @each $color in $colors { 
    &[data-color='#{$color}'] {
      color: simple-var($theme-variables, 'sys', $color, 'text-light');
      
      &:hover {
        color: simple-var($theme-variables, 'sys', $color, 'text-support');
      }
    
      &:focus-visible {
        @include outline-var($container-focused-s);

        color: simple-var($theme-variables, 'sys', $color, 'text-support');
        outline-color: var($sys-available-complementary);
      }
      
      &:active {
        color: simple-var($theme-variables, 'sys', $color, 'text-main');
      }
    }
  } 
}