@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-fields';
@use '@snack-uikit/figma-tokens/build/scss/styles-theme-variables';

$sizes: 's', 'm', 'l';

.sliderWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: -13px;

  .slider {
    flex: 1;

    @each $size in $sizes {
      &[data-size='#{$size}'] {
        @include styles-theme-variables.composite-var(styles-tokens-fields.$fields, 'slider-wrap', $size);

        height: inherit;
      }
    }
  }
}

.fieldContainer {
  svg {
    color: styles-theme-variables.simple-var(styles-theme-variables.$theme-variables, 'sys', 'neutral', 'text-disabled');
  }
}
