@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-toggles';

$sizes: 's', 'm';

.toggleLayout {
  cursor: pointer;

  display: inline-flex;
  flex-direction: row;
  align-items: center;

  max-width: 100%;

  @each $size in $sizes {
    &[data-size='#{$size}'] {
      @include composite-var($toggles, 'container', $size);
    }
  }

  &[data-width='full'] {
    display: flex;
    justify-content: space-between;
  }

  &[data-labelposition='left'] {
    flex-direction: row-reverse;
  }

  &__toggle {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__label {
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 1;

    text-overflow: ellipsis;
    white-space: nowrap;

  }
  &[data-disabled=true] {
    cursor: not-allowed;
    color: simple-var($theme-variables, 'sys', 'neutral', 'text-disabled');
  }
}