@use '@snack-uikit/figma-tokens/build/scss/components/styles-tokens-table';

.tableBodyCell {
  @include styles-tokens-table.composite-var(styles-tokens-table.$table-cells);

  color: styles-tokens-table.$sys-neutral-text-main;

  &[data-align='right'] {
    justify-content: flex-end;
  }

  &[data-no-padding] {
    padding: 0;
  }
}
