@import '@sbercloud/figma-tokens/build/scss/components/styles-tokens-table';

.tableBodyCell {
  @include composite-var($table-cells);

  color: $sys-neutral-text-main;

  &[data-align='right'] {
    justify-content: flex-end;
  }

  &[data-no-padding] {
    padding: 0;
  }
}
